/** @format */

@media screen and (max-width: 1280px) {
  .content-custom {
    &.shoppingmall {
      [class$="horizontal"] {
        overflow-x: hidden;

        header {
          align-items: center;

          h2 {
            align-items: center;
          }
        }

        ul {
          flex-wrap: wrap;
        }

        li {
          flex: 1 1 auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .images {
    &.large {
      display: none;

      + .image {
        display: flex;
      }
    }
  }
  main {
    section {
    }
  }
}

@media screen and (max-width: 640px) {
  .swiper-slide {
    opacity: initial;
    animation: none;
  }

  h2 {
  }

  article {
    &.details {
      padding: 3rem 0;
    }
  }

  main {
    section {
      padding: 5rem 0 !important;
      overflow: hidden;

      .wrapper {
        width: 100%;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 1rem;
      }

      p {
        span {
          display: contents;
        }
      }

      header {
        order: 0;
        padding: 0 1rem;
      }

      ul {
        li {
          flex: 1 1 auto;

          .texts,
          .images,
          .image {
            max-width: 100%;
          }
        }
      }

      .swiper {
        padding: 0 1rem 2rem;

        li {
          flex: none !important;
        }

        &-wrapper {
          gap: 0;
          flex-wrap: nowrap;
          justify-content: flex-start;
        }

        &-pagination {
          bottom: -1rem !important;
        }
      }
    }

    .texts {
      order: 1;
      align-items: center;
      text-align: center;
      max-width: calc(100% - 2rem);
    }

    .images,
    .image {
      order: 2;
      max-width: calc(100% - 2rem);
    }
  }

  header {
    .logo {
      width: 140px;
      margin-left: 1rem;
    }

    &.header {
      nav {
        ul {
          display: none;
        }
      }

      .buttons {
        display: none;
      }
    }
  }

  footer {
    section {
      padding: 2rem 1rem;
    }

    .wrapper {
      max-width: 100%;
    }

    .section-benefits {
      padding: 2rem 0;

      h2 {
        text-align: left;
      }
    }

    .section-sitemap {
      .sitemap {
        gap: 1.5rem;
      }
    }

    .section-contacts {
      .texts {
        flex-basis: 100%;
      }
    }
  }

  .responsive {
    display: flex;
  }

  .texts {
    > * {
      align-items: center;
      text-align: center;
    }
  }

  .list {
    padding: 0 1rem;
  }

  .section-process {
    .image {
      order: 0;
    }
  }

  .section-sticky-button {
    bottom: 1rem;
    margin-top: -8rem;

    button {
      transform: scale(0.8);
    }

    + section {
      padding: 1rem !important;
    }
  }

  .section-faq {
    ul {
      padding: 0 1rem;
    }
  }

  .content-header {
    .wrapper {
      padding: 3rem 1.5rem;
      justify-content: flex-start;
    }
  }

  .content-main {
    .section-details {
      &:not(:last-of-type) {
        padding-bottom: 0 !important;
      }

      .texts {
        margin-top: 0;
      }

      .images {
        order: 0;

        ul {
          flex-wrap: nowrap;
        }
      }

      &:nth-of-type(3) {
        .images {
          transform: scale(0.75);
          margin-top: -2rem;
        }
      }

      &:nth-of-type(4) {
        .images {
          transform: scale(0.75);
          margin: -3rem 0;
        }
      }
    }

    .section-different {
      .effect {
        transform: none !important;
      }
    }

    .section-events {
      li {
        padding: 0 1rem;
      }
    }
  }

  .content-shop {
    &.clickn {
      .section-intro {
        .swiper {
          padding: 0 1rem 2rem;

          &-pagination {
            bottom: -1rem;
          }
        }

        ul {
          li {
            border-radius: 0.5rem;
            overflow: hidden;
          }
        }
      }

      .section-reviews {
        article {
          animation: none !important;
          aspect-ratio: auto;
        }
      }

      .section-build {
        ul {
          li {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            &:nth-of-type(1) {
              .image {
                margin-left: -3rem;
              }
            }

            &:nth-of-type(2) {
              .image {
                margin-left: 0;
              }
            }
          }
        }
      }

      .section-icons {
        header {
          width: 100%;
          align-items: flex-start;
          padding-left: 2rem;
        }

        p,
        h3 {
          text-align: left;
        }

        h2 {
          align-items: flex-start;
        }

        ul {
          padding: 0 2rem;
          gap: 1rem;
          justify-content: flex-start;
        }

        .image {
          order: 0;
        }
      }

      .section-benefits {
        li {
          aspect-ratio: auto;
        }

        .texts {
          padding: 0;
        }

        .image {
          display: none;
        }
      }
    }

    &.cloud {
      .section-only {
        li {
          flex: none;
        }
      }

      .section-app {
        li {
          gap: 1rem;
          border: 0 !important;
          align-items: flex-start;
        }

        ul {
          padding: 1.5rem;
        }

        .texts {
          gap: 0;
          text-align: left;
          align-items: flex-start;

          > * {
            align-items: flex-start;
            text-align: left;
          }
        }

        .image {
          order: 0;
          width: 100%;
          flex: 0 0 30vw;
        }
      }

      .section-payments {
        header {
          .image {
            display: none;
          }
        }
      }
    }

    &.independent {
      .section-only {
        li {
          flex-direction: column;
          padding: 2rem;

          .image {
            order: 0;
          }
        }
      }

      .section-partners {
        ul {
          padding: 0 1rem;
          gap: 0.5rem;
          justify-content: flex-start;
        }

        li {
          width: calc(50% - 0.25rem);
        }
      }
    }

    &.transfer {
      .section-intro {
        li {
          flex-basis: 45%;
        }

        ul {
          padding: 0 2rem;
        }

        .image {
          order: 0;
        }
      }

      .section-benefits {
        background: #253340 url(../images/subs/shop/transfer_benefits_bg_1.png) right bottom no-repeat;

        li {
          flex: 1;
          flex-direction: column;
        }

        .image {
          order: 0;
        }
      }
    }
  }

  .content-ads {
    &.main {
      .section-intro {
        padding-bottom: 0 !important;
      }

      .section-sns {
        img {
          max-width: 70%;
        }

        ul {
          padding: 0 1rem;
        }

        .image {
          order: 0;
          width: auto;
        }
      }

      .section-diad {
        h2 {
          align-items: center;
        }

        header {
          position: relative;
          top: auto;
          left: auto;
          align-items: center;
        }

        .background {
          transform: scale(0.8);
          top: 0;
          right: 0;
        }

        .swiper {
          &-slide {
            flex-direction: column;
            align-items: center;
          }

          &-pagination {
            bottom: 0 !important;
            gap: 0.5remC;

            li {
              margin: 0;
              padding: 0 0.5rem;
            }
          }

          .image {
            order: 0;
          }

          .texts {
            padding-top: 2rem;

            + .image {
              right: auto;
            }
          }
        }
      }

      .section-help {
        .swiper {
          margin-bottom: 0;
        }
      }

      .section-partners {
        margin-top: 0;

        .partners {
          display: flex;
          gap: 0;
          padding: 0;
        }
      }

      .section-extensions {
        .image {
          display: none;
        }
      }

      .section-blog {
        li {
          border: 1px solid #eee;
          padding: 1.75rem;
          border-radius: 0.5rem;
        }
      }
    }
  }

  .content-custom {
    &.shoppingmall {
      .section-intro {
        .image {
          order: 0;
        }
      }

      .section-knowhow {
        li {
          padding: 2rem 1rem;
        }
      }

      .section-partners {
        header {
          align-items: center;

          h2 {
            align-items: center;
          }
        }

        li {
          flex: 1 1 auto;
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .content-contacts {
    section {
      overflow: unset;
      padding: 2rem 0 !important;

      header {
        padding: 0;
      }
    }
  }
}
