$main-color: #5b54c6;
$primary-color: #7682f8;
$secondary-color: rgba(118, 130, 248, 0.1);

@media screen and (max-width: 1280px) {
  section {
    header {
      flex-wrap: wrap;
    }
  }

  .filters {
    flex-wrap: wrap;
  }

  .section-main {
    article[data-brand] {
      &::before {
        content: none
      }

      > * {
        padding-left: 0;
      }
    }
  }

  :is([class$="details"]) {
    flex-direction: column;

    &.sample {
      flex-wrap: nowrap;

      .wrapper {
        width: 100%;
      }
    }

    .content-header {
      width: 100%;
      gap: 0.5rem;
    }

    .section-main {
      display: flex;
      flex-direction: column;
      padding: 1rem;

      .information {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .row {
          width: 100%;
        }

        .image {
          width: 45px !important;
          height: 45px !important;
        }

        .right-arrow {
          order: 3;
        }
      }

      .details {
        padding: 0.5rem;
        flex-direction: row;
        flex: 1 1 auto;

        > .row {
          flex-direction: column;
          flex: 1 1 auto;
          border-bottom: 0 !important;
          padding-bottom: 0 !important;
          gap: 0.25rem;

          div {
            display: flex;
            justify-content: center;
          }

          ul {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .section-main {
    .section-content {
      .report {
        flex-wrap: wrap;
      }
    }
  }

  .ranking-fluctuations {
    flex-direction: column;

    .ranking-chart {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 640px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* make scrollbar transparent */
  }

  html {
    overflow: hidden;

    body {
      display: flex;
      flex-direction: column;
      font: 15px "Roboto", "NotoSansM";
      overflow: hidden !important;

      .responsive {
        display: flex;
      }

      .top-banner {
        font-size: 14px;
        padding: 0.5rem;
      }

      .date {
        font-size: 13px;
      }

      h3 {
        white-space: nowrap;
      }

      .scroll-to-top {
        right: 1rem;
        bottom: -3rem;

        &.is-active {
          bottom: 1rem;
        }
      }

      .search {
        flex: 1 1 auto;
      }

      [data-tooltip] {
        &::before {
          left: 50% !important;
        }

        &::after {
          display: none;
        }
      }

      .tooltip {
        &::after {
          display: none;
        }
        .tooltip-content {
          opacity: 0 !important;
          visibility: hidden !important;
          white-space: normal !important;
          left: 1rem !important;
          right: 1rem !important;
          width: auto !important;
          position: fixed;
          margin-top: 0.5rem;
          transition: opacity 0.25s;
        }

        &.is-active {
          z-index: 60 !important;

          .tooltip-content {
            opacity: 1 !important;
            visibility: visible !important;
          }
        }
      }
      main {
        overflow: hidden;
        padding: 0;
        position: relative;

        &.mutated {
          padding: 0;
        }
      }

      .content {
        border-radius: 0;
      }
    }
  }

  .container {
    flex-direction: column;
  }

  .modal {

    header {
      padding: 0;
    }

    .modal-content {
      padding: 1rem;
    }

    .buttons {
      padding: 0 1rem 1rem;
    }

    .list {
      flex-direction: column;
      flex-wrap: nowrap;
      max-height: 40vh !important;
      padding-bottom: 0;

      .row {
        width: 100%;
        padding: 0;
        box-shadow: 0 0 0;
        gap: .5rem;

        &.title {
          display: flex !important;
        }

        li {
          width: auto !important;
          min-height: 24px;
          justify-content: flex-start;
        }
      }
    }

    &-location {

      .lists {
        height: 40vh !important;
        overflow-y: auto;

        .list {
          max-height: none !important;
          padding: .75rem;
          border: 1px solid #e3e6e9;

          .row {

            &.title {

              li {
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    &-checkboxes {

      .inputs {

        .checkbox {
          width: calc(50% - .25rem)
        }
      }
    }

    &-history {

      .list {

        .row {
          border: 1px solid #eee;
          padding: .75rem;

          &.title {
            display: none !important;
          }

          li {
            width: 100% !important;
            justify-content: flex-end !important;
          }
        }
      }
    }
  }

  :is(
      .selector,
      .list,
      .wrapper .list .row,
      .list li,
      .progress,
      .col-chart,
      .report,
      .summary,
      .summary ul,
      .summary li
    ) {
    width: 100% !important;
    max-width: 100%;
  }

  :is(
      .title .status,
      .aside .logo,
      .zoom-in-out,
      .btn-advanced-search,
      .advanced-search,
      .list-count,
      .chart-interval
    ) {
    display: none !important;
  }

  section {
    background-color: transparent;
    padding: 0 1rem 1rem;
    gap: 0.5rem;
    box-shadow: 0 0 0;
    border-radius: 0;
    width: 100%;
    max-width: 100%;

    header {
      background: rgb(255 255 255 / 50%);
      padding: 0.75rem;
      border-radius: 0.5rem;

      button {
        min-width: 40px;
        height: 40px;
      }

      .title {
        :empty:not(button) {
          display: none;
        }

        .buttons {
          button {
            padding: 0.5rem;
          }
        }
      }
    }

    &.section-chart {
      padding: 1rem;
      border-radius: 0;
      background-color: white !important;

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }

    .wrapper {
      flex-wrap: wrap;
      max-width: 100%;
    }
  }

  .aside {
    opacity: 0;
    visibility: hidden;
    width: 180px;
    position: fixed;
    top: auto;
    left: auto;
    right: -180px;
    transition: 0.4s;
    z-index: 10;

    .account {
      opacity: 1;
      visibility: visible;
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      background: rgba(118, 130, 248, 0.1);
      border-radius: 0.5rem;
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      button {
        color: white;
        opacity: 0.75;
        font-size: 12px;
        border: 1px solid #555;
        padding: 0.5rem;
        font-family: "Poppins", "NotoSansM";
      }

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .username {
        border: 0;
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        line-height: normal;

        &::before {
          content: "";
          background: $secondary-color
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath fill='rgba(255,255,255,.25)' d='M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z'/%3E%3C/svg%3E")
            no-repeat center;
          width: 18px;
          height: 18px;
          display: inline-block;
          margin-right: 3px;
          background-size: 90%;
          border-radius: 18px;
        }
      }
    }

    .aside-handler {
      svg {
        transform: unset;
      }
    }

    .logo {
      span:not(.responsive) {
        display: flex;
      }
    }

    .sub-menu {
      position: absolute;
      bottom: 1rem;
      right: 50%;
      transform: translateX(50%);
      white-space: nowrap;
      display: flex;
      gap: 0.75rem;
    }

    nav {
      a {
        span {
          display: flex;
        }
      }
    }

    &.is-active {
      right: 0;
      box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.1);
    }
  }

  .header {
    min-height: 49px;
    display: flex;
    padding-left: 1rem;
    padding-right: 5px;
    border-bottom: 1px solid #ddd;

    nav {
      display: none;
    }

    .logo {
      text-align: center;
      width: 33px;
      height: 18px;
      background: url(../images/logo_diad_trend.svg) no-repeat left center;
      background-size: 96px;

      a {
        font-size: 22px;
        font-family: "RobotoM";
        color: #333;
      }
    }
  }

  main {
    overflow-y: auto !important;

    > .wrapper {
      flex-direction: column !important;
      padding: 0 !important;
    }

    .tab-content {
      gap: 0 !important;
    }

    .content-header {
      min-height: 3rem;
      gap: 0;

      header {
        padding: 0 1rem
      }

      section {
        padding: 0
      }

      article {
        flex: 0 0 280px;
        background-color: white !important;
      }

      .sections {
        flex-wrap: wrap;
      }
      .articles {
        width: 100%;
        flex-wrap: nowrap;
        padding-left: 1rem;
      }

      .username {
        display: none !important;
      }

      .title {
        min-height: 3rem;
        padding: .75rem;
      }

      .subline {
        display: none;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      .tabs {
        padding: 0 1rem;
        width: 100%;
        border-bottom: 1px solid #ddd;
        overflow-x: auto;

        li {
          white-space: nowrap;
          line-height: 45px;
        }
      }
    }
  }

  .filters {
    > div {
      width: 100%;
      flex-wrap: wrap;
    }

    .selected-filters:empty {
      display: none;
    }

    .calendar {
      flex-wrap: nowrap;
      input {
        min-width: auto;
        width: 100%;
      }
    }

    .selector {
      justify-content: flex-start !important;
      font-size: 13px;

      label {
        flex: 1 1 auto;
        justify-content: center;
        padding: 0.35rem;
      }
    }
    .calendar {
      width: 80%;
      flex: 1 1 auto;

      + button {
        flex: 0 0 auto;
        justify-content: center;
      }
    }

    .buttons {
      flex-wrap: nowrap;
      width: 100%;
      gap: 0;
      min-height: 40px;
      justify-content: space-around;

      > * {
        flex: 1 1 25%;
        padding: 0 !important;
        color: slategray !important;
        background-color: transparent;
        font-size: 14px;
        justify-content: center;

        &:not(:last-of-type) {
          border-color: #ccc;
        }
      }

      .selectbox {
        display: none;
      }
    }
  }

  .list {
    border: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.75rem !important;
    overflow-x: hidden !important;

    .tag {
      order: 0;
    }

    .ranking {
      order: 1;
    }

    .price,
    .percent,
    .times,
    .page {
      order: 2;
    }

    .rows {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    .row {
      flex: 1 1 auto;
      flex-wrap: wrap;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 0 6px 12px -4px #e3e6e9;
      position: relative;

      & .checked {
        background-color: #f1f2fe;

      }

      &:hover {
        li {
          background-color: transparent;
        }
      }

      &.title {
        flex: 0 0 auto;
        display: none !important;

        li {
          width: 100%;
          padding: 0 0.5rem;
        }
      }

      &.row-no-keyword {
        li {
          &:nth-of-type(4) {
            width: auto !important;
          }
        }
      }

      li {
        flex-direction: row;
        border-bottom: 0;
        background-color: transparent;
        flex-wrap: wrap;
        border: 0 !important;
        padding: 0;
        justify-content: flex-end;
        position: relative;
        gap: 5px;
        min-width: auto !important;
        min-height: 32px;

        &::before {
          content: attr(title);
          position: absolute;
          left: 0;
          min-width: 80px;
          display: flex;
          color: lightslategray;
          font-size: 14px;
        }

        &[title="그룹명"] {
          order: -1;
          justify-content: center;
          transform: scale(1.25);
          margin-top: -1rem;
          margin-bottom: 1rem;

          &::before {
            content: none;
          }
        }
      }

      .col {
        &-100 {
          width: 100% !important;
        }

        &-ranking {
          justify-content: flex-start;

          &::after {
            content: "위";
          }
        }

        &-check {
          order: -2;
          justify-content: flex-start !important;

          .checkbox {
            transform: scale(1.25);
          }

          + .col-keyword {
            justify-content: center !important;
            transform: scale(1.15);
          }
        }

        &-keyword {
          left: auto !important;
        }

        &-title {
          flex-direction: column;

          &::before {
            content: none;
          }
        }

        &-url {
          div {
            max-width: 80%;
            text-align: right !important;
          }
        }
      }
    }
  }

  .content-main {
    > .wrapper {
      overflow: visible;
    }

    .list {
      flex-direction: column;

      .row {
        max-width: 100%;
        &.title {
          display: flex;
        }
      }
    }

    section {
      padding: 1rem !important;
    }

    .progress {
      padding: 0;
    }

    .section-main {
      header {
        flex-direction: row;
        align-items: center !important;
      }

      .list {
        .row {
          padding: 1rem;
          gap: 0.25rem;
          background-color: #f7f8f9;

          &:last-of-type {
            li {
              &::before {
                content: none !important;
              }

              &.button {
                margin-top: 1rem;
                justify-content: center !important;

                button {
                  height: 32px;
                }
              }
            }
          }

          &.title {
            display: none;
          }

          li {
            width: 100%;
            justify-content: flex-start !important;
            line-height: 1.15;
            background-color: transparent;

            &::before {
              flex-basis: 130px;
              font-size: 14px;
              color: lightslategray;
            }

            &:nth-of-type(1) {
              font-size: 17px;
              margin-bottom: 0.5rem;
            }
            &:nth-of-type(2) {
              &::before {
                content: "제공량";
              }
            }
            &:nth-of-type(3) {
              &::before {
                content: "이용량";
              }
            }
            &:nth-of-type(4) {
              &::before {
                content: "잔여량";
              }
            }
            &:nth-of-type(5) {
              &::before {
                content: "서비스 이용기간";
              }
            }
            &:nth-of-type(6) {
              &::before {
                content: "잔여일수";
              }
            }
          }
        }
      }
    }

    .section-chart {
      .list {
        background-color: #fff;
        border-radius: 0.5rem;
        flex-direction: column;
        padding: 1rem;
        align-items: flex-start;
        gap: 0.25rem;

        .title {
          li {
            border-bottom: 0;
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            background-color: transparent;
          }
        }

        .chart {
          height: 150px;
        }
      }
    }

    .section-article {
      header {
        display: none;
      }

      .list {
        gap: 0 !important;
        background-color: white;

        .row {
          padding: 0.25rem 0.5rem;
          flex-direction: row;
          &.title {
            padding: 0;
            li {
              padding: 0.5rem;
              // font-size: 20px !important;
            }
          }

          li {
            width: auto !important;
            padding: 0;

            &:nth-of-type(1) {
              justify-content: flex-start;
            }

            &:nth-of-type(2) {
              align-items: center;
            }
          }
        }
      }
    }
  }

  .content-tracking {
  }

  .content-bidding {
    .tab-content {
      height: fit-content;
      flex-direction: column;
    }

    .section-account {
      width: 100%;
      max-height: none;

      + section {
        overflow-x: hidden;
      }
    }
  }

  .content-ranking {
    .list {
      .row {
        li {
          span {
            width: 66px;
            text-align: right;
          }
        }
      }
    }
  }

  :is(.content-ranking, .content-lowest-price) {
    padding-bottom: 3rem;

    section {
      header {
        .buttons {
          width: 100%;
  
          .btn-main {
            position: fixed;
            left: 0;
            bottom: 0;
            border-radius: 0;
            justify-content: center;
            width: 100%;
            height: 54px;
            background-color: #333639 !important;
            font-size: 17px;
            z-index: 100;
          }
        }

      }
    }

    .scroll-to-top {
      &.is-active {
        bottom: 4rem;
      }
    }

    .section-main {
      ul {
        li {
          div {
            font-size: 13px;
          }
        }
      }
    }

    .filters {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    .list {
      .tooltip {
        display: none;
      }

      .item-update-failed {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        width: auto;
      }
      .row {
        &.failed {
          li {
            background-color: transparent;
          }
        }

        .col-title {
          justify-content: flex-start;
          padding: 0.75rem;
          border-radius: 3px;
          margin: 0.75rem 0;
          background-color: rgba(180, 190, 200, 0.1) !important;

          .information {
            max-width: none;
            width: 60%;
            position: unset;

            .title {
              white-space: normal;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }

            .item-mid {
              padding: 0.5rem;
              position: absolute;
              left: 50%;
              top: -2.75rem;
              transform: translateX(-50%);
            }
          }
        }

        li {
          width: 100% !important;
          background-color: transparent;
          left: auto !important;
          align-items: center;
          flex-direction: row !important;
          justify-content: flex-start;

          .page {
            margin-bottom: 0;
            justify-content: flex-end;
            width: fit-content;
          }

          &:not(.col-check, .col-title) {
            justify-content: flex-end;
            gap: 0.5rem;
          }
        }
      }
    }
  }

  :is([class$="details"]) {
    display: block;
    overflow-y: auto;

    section {
      &:not(.section-main) {
        background-color: transparent;
      }
    }

    .content-header {

      .title {
      }
    }

    > .wrapper {
      height: fit-content;
    }

    .buttons {
      :not(.ico-download) {
        display: none;
      }
    }
    .section-main {
      > div {
        padding: 0;
      }

      .details {
        padding: 0.75rem;
        flex-direction: column;

        .row {
          flex-direction: row;

          :last-of-type {
            flex: 0 0 auto;
            justify-content: flex-end;
          }
        }
      }

      .related {
        width: 100%;

      }
    }
  }

  .content-ranking-details {
    .section-keyword-history {
      background-color: transparent;
      box-shadow: 0 0 0;
      .list {
        .row {
          flex-wrap: nowrap;
          overflow-x: auto;
          gap: 0.5rem;
          position: relative;
          padding: 0;

          li {
            flex-wrap: wrap;
            width: fit-content !important;
            padding: 0.75rem;
            min-width: auto !important;
            height: 100% !important;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            &:not(:last-of-type) {
              border-right: 1px solid #eee;
            }

            .date-title {
              display: flex;
            }

            &.col-keyword {
              left: 0 !important;
              width: 120px !important;
              height: fit-content !important;
              border: 0;
              background-color: white;
              font-size: 17px;
              white-space: nowrap;
              padding: 1rem 0 1rem 1rem;

              .keyword {
                max-width: none;
                text-align: left;
              }

              .date-title {
                display: none;
              }
            }

            .date-title {
              flex: 1 1 auto;
              font-size: 13px;
            }

            .ranking {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
      }
    }

    .keyword-chart {
      padding: 1rem;
      background-color: white;
    }

    .section-weekly-top {
      background-color: transparent;
      box-shadow: 0 0 0;

      header {
        flex-wrap: wrap;
      }

      .ranking-fluctuations {
        gap: 0.5rem;
      }
      .list {
        .row {
          gap: 1rem;

          &:not(:last-of-type) {
            border-bottom: 1px solid #f7f8f9;
          }

          li {
            width: auto !important;
            min-height: auto;
            padding: 0;
            justify-content: flex-start;
          }
        }
      }
    }
  }

  .content-lowest-price-details {
    .list {
      .row {
        li {
          width: 100%;
          min-height: 32px !important;

          &:nth-of-type(1) {
            font-size: 18px;
            justify-content: center;
            height: 40px !important;

            &::before {
              content: none;
            }
          }

          &.col-chart {
            min-width: 100%;
          }
        }
      }
    }
  }

  .content-keyword-trend-details {

    .content-header {
      padding: .75rem;
      gap: 0;
      position: relative;
    }

    .layout {
      display: none !important;
    }

    section:not(.section-main) {
      background-color: transparent;
      border-radius: 0 !important;
      box-shadow: 0 0 0;

      &.section-article {
        background-color: white;
        border-radius: 0;
      }
    }

    .tab-content {
      padding-top: 0;
    }
    .section-main {
      background-color: white;
      border-radius: .5rem;
      width: auto;
      margin-top: .75rem;

      .information {
        .details {
          flex-direction: row;

          .row {
            justify-content: center;
            flex-direction: column;
          }
        }
      }

      .details {
        flex-direction: row;
      }
    }

    .wrapper {
      gap: 1rem;

      > .tabs {
        margin: 0;
        position: fixed;
        top: 50px;
        width: 100%;
        border-radius: 0;
        height: 40px;
        background: white;

        li {
          display: flex;
          align-items: center;
          padding: 0.35rem 0.5rem;
          word-break: keep-all;
          font-size: 14px;
          border-right: 0 !important;

          &.is-active {
            background-color: transparent;
            color: #333;
            position: relative;

            &::before {
              content: "";
              background-color: #434649;
              position: absolute;
              bottom: 0;
              display: block;
              width: 100%;
              height: 2px;
            }
          }
        }
      }
    }

    .filters {
      .selector {
        justify-content: space-between;

        &.main {
          label {
            flex: 0 0 15%;
          }
        }

        &.sub {
          padding-top: 6px !important;
        }
      }
    }

    .report {
      gap: 0.5rem !important;
      flex-wrap: wrap;

      .summary {
        flex: 1 1 auto;

        ul {
          li {
            flex-direction: column;

            .title {
              > div:first-of-type {
                width: auto !important;
              }
            }
          }
        }
      }

      .chart {
        width: 100% !important;
      }
    }

    .summary {
      ul {
        flex-wrap: wrap !important;

        li {
          padding: 0.75rem !important;
          gap: 0.5rem;
          flex-direction: row !important;
          flex-basis: 100%;

          li {
            padding: 0 !important;
          }
        }
      }
    }

    .content-keyword {
      .section-article {
        .tabs {
          flex-direction: row;
          padding-top: 0;
          width: 100%;
          border-bottom: 1px solid #eee;

          li {
            &.is-active {
              &::after {
                height: 1px;
                bottom: -1px;
              }
            }
          }
        }

        .section-content {
          header {
            flex-direction: column;
            padding-bottom: 1rem !important;
          }
        }

        .section-content {
          flex-direction: column;
          gap: 1rem;
        }

        .list {
          .created {
            :first-of-type {
              flex: 1 1 auto;
            }

            :last-of-type {
              flex: 0 0 auto;
              width: fit-content;
            }
          }
        }
      }
    }

    .content-articles {
      .section-article {
        .section-content {
          flex-direction: column;
        }

        .tabs {
          width: 100%;

          li {
            .sub {
              flex-direction: row;
            }
          }
        }

        .tab-content {
          margin-left: 0;

          section {

            header {
              flex-direction: column;
  
              .filters {
                flex-direction: row;
              }
            }
          }
        }

        article {
          flex-direction: column;
        }

        .list {
          li {
            width: auto !important;
          }
        }
      }
    }

    .content-related-keyword {
      .filters {
        .checkboxes {
          height: 42px;
          width: 100%;
          justify-content: center;
        }
        .selector {
          &.main {
            label {
              flex-basis: calc(50% - 0.125rem);
            }
          }
        }
      }

      .list {
        .row {
          &.title {
            display: none;
          }

          li {
            &:nth-of-type(1) {
              display: none;
            }
          }
        }
      }
    }

    .content-shopping {
      .report {
        .summary {
          order: 1;
        }
      }

      .list {
        li {
          &:nth-of-type(1),
          &:nth-of-type(2) {
            &::before {
              content: none;
            }
          }

          &.col-title {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: #f7f8f9;
          }

          &.col-price {
            > div {
              flex-direction: row;
            }
          }
        }
      }
    }
  }

  .content-keyword-trend {
    .inputs {
      min-height: auto;
      padding: 0;

      .search {
        input {
          width: 100%;

          &:focus {
            width: 100%;
            margin: 1rem 0;
          }
        }
      }
    }

    section {
      header {
        background-color: transparent;
        padding: 0;
        border-radius: 0;
      }
    }

    .tabs {
      transform: scale(0.9);
    }

    .list {
      .row {
        li {
          width: 100% !important;
          justify-content: flex-end;
          position: relative;

          &::before {
            position: absolute;
            left: 0;
          }

          &:first-of-type {
            position: absolute;
            right: 1rem;
            top: 1rem;
            width: auto !important;
            min-width: auto !important;
            min-height: auto !important;
          }

          &:nth-of-type(2) {
            padding-bottom: 1rem;
            justify-content: flex-start;
            .keyword {
              font-size: 17px;
            }
          }

          &:nth-of-type(3) {
            &::before {
              content: "월간 검색";
            }
          }

          &:nth-of-type(4) {
            &::before {
              content: "등록 상품";
            }
          }

          &:nth-of-type(5) {
            &::before {
              content: "컨텐츠";
            }
          }

          &:nth-of-type(6) {
            &::before {
              content: "최근 조회일시";
            }
          }

          &:nth-of-type(7) {
            padding-top: 1rem;
            justify-content: center;
            color: slategray;

            button {
              gap: 0.5rem;

              &::after {
                content: "키워드 삭제";
              }
            }
          }
        }
      }
    }
  }

  .content-settings {
    padding-bottom: 3rem;
    .wrapper {
      gap: 1rem;
      min-width: auto;
      max-width: none;
      width: 100%;
    }

    .content-header {
      padding: 1rem;

      .btn-main {
        position: fixed;
        justify-content: center;
        bottom: 0;
        width: 100%;
        left: 0;
        border-radius: 0;
        height: 54px !important;
        font-size: 17px !important;
        background-color: #333639;
        z-index: 100;
      }
    }

    section {
      width: 100% !important;
      gap: 0 !important;
      background-color: white !important;

      header {
        padding-left: 0 !important;
      }
    }

    .section-my-alarm {
      .alarms {
        flex-wrap: wrap;

        .alarm {
          width: 100%;
        }
      }
    }

    .list {
      background-color: white;
      gap: 0;

      .row {
        padding: 1rem 0;
        flex-direction: row;
        word-break: keep-all;

        :first-of-type {
          flex: 1 1 auto;
          color: slategray;
          line-height: 1.25;
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }
    }

    .select-alarm-type {
      flex-wrap: wrap;
      padding: 1rem 0 !important;
      width: 100% !important;

      .details {
        gap: 1rem;
      }

      .select {
        padding: 0 !important;
        background-color: white;
        border: 0 !important;
        width: 100% !important;

        .title {
          margin-bottom: 0.5rem;
        }
      }

      .row {
        flex-wrap: wrap;
        height: auto !important;
      }

      .inputs {
        flex-wrap: nowrap;

        input {
          width: 100%;
        }
      }
    }
  }

  .content-alarm-services {
    width: 100%;
    background-color: transparent;
    padding: 0;

    .caution {
      padding: 1.5rem 0.5rem;
    }

    &.expired {
      background-color: white;
    }

    &.ranking {
      gap: 0.5rem;

      section:not(.section-buttons) {
        padding: 3rem 1rem 1rem !important;
        background-color: white !important;
      }
      .section-items .texts small {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
      }

      .list .row {
        border: 1px solid #e3e6e9;
        border-radius: 5px;
        padding: 0 0.5rem !important;
      }

      .list .row li:nth-of-type(1)::before {
        content: "키워드";
      }

      .list .row li:nth-of-type(2)::before {
        content: "현재 순위";
      }

      .list .row li:nth-of-type(3)::before {
        content: "등락";
      }

      .list .row li:nth-of-type(4)::before {
        content: "전 타임 순위";
      }
    }

    &.lowest-price {
      gap: 0.5rem;

      .list .row li:nth-of-type(2)::before {
        content: "현재 순위";
      }

      .list .row li:nth-of-type(3)::before {
        content: "등락";
      }

      .list .row li:nth-of-type(4)::before {
        content: "전 타임 순위";
      }
    }

    .image {
      width: 45px !important;
      height: 45px !important;
    }

    section {

      header {
        padding: 3rem 1rem 1rem;
  
        .title {
          font-size: 16px;
        }
  
        h1 {
          font-size: 24px;
        }
  
        p {
          font-size: 15px;
        }
  
        .updated {
          font-size: 17px;
        }
      }
    }

    .section-buttons {
      padding-bottom: 2rem;
    }

    .list {
      border: 0;

      .row {
        background-color: white;
        padding-top: 3rem;
        position: relative;

        &.title {
          display: none;
        }

        .texts {
          .title {
            font-size: 16px;
          }

          small {
            position: absolute;
            top: 1rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        li {
          width: 100% !important;
          justify-content: space-between;
        }
      }
    }

    + footer {
      width: 100%;
      padding: 1rem;

      ul {
        flex-direction: column;
        gap: 0;

        li {
          font-size: 13px;
        }
      }
    }
  }

  .content-error {
    padding: 1rem;
    word-break: keep-all;

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 15px;
    }

    .contact-us {
      flex-direction: column;
      gap: 1rem;
      margin: 0;

      &::before {
        content: none;
      }
    }
  }

  .content-logout {
    > .wrapper {
      gap: 0.5rem;
    }

    section {
      background-color: white !important;
      padding: 3rem 1rem !important;

      h1 {
        margin-bottom: 1rem;
      }

      p {
        span {
          display: contents;
        }
      }
    }

    .section-main {
      .section-title {
        padding-top: 2rem;
        order: 1;
        width: 100%;
      }

      p {
        text-align: left;
      }

      .image {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img {
          width: 65vw;
        }
      }

      .keywords {
        overflow-x: auto;
        width: 100%;
      }
    }

    .section-about {
      .buttons {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }

    .section-pricing {
      ul {
        justify-content: flex-start;
        overflow-x: auto;
        padding: 0 2rem;

        li {
          box-shadow: 0 0 0;
          flex: none;

          dl {
            gap: 1rem;
          }
        }
      }
    }
  }
}
