@media screen and (max-width: 640px) {

  h2 {
    font-size: 20px;
  }
  
  .wrapper {
    width: 100%;
  }

  section {
    flex-wrap: wrap;

    .texts {
      align-items: center;
      text-align: center;
    }
  }

  footer {

    section {
      padding: 2rem 1rem;
    }

    .section-benefits {
      padding: 2rem 0;
    }

    .section-sitemap {

      .sitemap {
        gap: 1.5rem;
      }
    }

    .section-contacts {

      .texts {
        flex-basis: 100%;
      }
    }
  }

}