/** @format */

$primary-color: #0063fd;
$secondary-color: #0042cf;

main {
  .arrow {
    color: #fff;
    background-color: #000;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    gap: 0.75rem;
    font-family: "Pretendard";
    transition: 0.25s;
    min-width: 176px;
    border-radius: 0;

    &::after {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 1rem;
      display: inline-flex;
      background: url("data:image/svg+xml,%3Csvg width='23' height='7' viewBox='0 0 23 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L22 6H0' stroke='white' stroke-width='2' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
        no-repeat center;
    }
  }

  section {
    h3 {
      margin-bottom: 0.5rem;
    }

    button {
      padding: 1.25rem 4rem;
      background-color: $primary-color;
      color: white;
      font-size: clamp(16px, 2.15vw, 20px);
    }

    ul {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        flex: 1;
      }
    }

    .links {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  }
}

header {
  overflow: hidden;
  max-width: 100%;
}

footer {
  border-top: 1px solid #e7e7e7;
  background-color: #f4f4f4;
  font-size: 16px;

  section {
  }

  .wrapper {
    flex-direction: column;
    gap: 0;
  }

  .section-sitemap {
    border-bottom: 1px solid #e7e7e7;

    .sitemap {
      a {
        color: #888;

        &:first-of-type {
          color: #333;
        }
      }
    }
  }

  .section-benefits {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
    background-color: white;

    h2 {
      font-size: clamp(20px, 2.15vw, 24px);
    }
  }

  .section-contacts {
    border-bottom: 1px solid #ddd;
    flex-direction: row;
    flex-wrap: wrap;

    p:first-of-type {
      color: #333;
      font-family: "Pretendard";
    }

    a {
      letter-spacing: 0;
    }

    i {
      background-color: white;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5rem;
    }

    .texts {
      color: #888;
      flex: 0 0 29rem;
      gap: 0.5rem;
    }

    .contacts {
      flex: 1 1 auto;
      gap: 0;

      li {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: #555;
      }
    }
  }

  .section-links {
    padding-bottom: 6rem;
    color: #888;
    gap: 0.5rem;

    .links {
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;

      nav {
        display: flex;

        a {
          &:not(:last-of-type) {
            color: #888;

            &::after {
              content: "|";
              padding: 0 0.75rem;
              opacity: 0.5;
            }
          }
        }
      }

      ul {
        flex-wrap: wrap;

        li {
          &:first-of-type {
            width: 100%;
          }
        }
      }
    }

    .partners {
      flex-wrap: wrap;
      gap: 1.75rem;
      margin-top: 1.5rem;
    }
  }
}

.section-sticky-button {
  padding: 0;
  position: sticky;
  bottom: 7rem;
  margin-top: -6rem;
  height: 0;
  display: flex;
  justify-content: center;
  z-index: 60 !important;

  button {
    flex: 0 0 auto;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    padding: 0 5rem;
    border-radius: 5rem;
    height: 4.5rem;
    width: min(380px, 80%);
    font-size: clamp(20px, 2.15vw, 24px);
    background: linear-gradient(90deg, #0042cf, #3399ff);
    transition: opacity 0.5s;
  }

  + section {
    padding: 5rem 0;
  }
}

.section-buttons {
  padding: 3rem 0 !important;
  display: flex;
  justify-content: center;
}

.section-faq {
  .accordion {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 980px;

    li {
      background-color: #f4f4f4;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      border-radius: 0.5rem;
      transition: background-color 0.25s;
      overflow: hidden;

      &.is-active {
        .question {
          padding-bottom: 0.5rem;

          &::after {
            transform: rotate(315deg);
            margin-top: 6px;
          }
        }

        .answer {
          opacity: 1;
          visibility: visible;
          max-height: 999px;
          padding: 0.5rem 1.5rem 0;
        }
      }
    }

    .question {
      display: flex;
      align-items: center;
      font-size: clamp(17px, 2vw, 20px);
      transition: color 0.25s;
      cursor: pointer;

      &::before {
        content: "Q";
        color: $secondary-color;
        margin-right: 0.75rem;
      }

      &::after {
        content: "";
        width: 14px;
        height: 14px;
        border: 2px solid black;
        border-left: 0;
        border-bottom: 0;
        display: block;
        transform: rotate(135deg);
        margin-top: -3px;
        position: absolute;
        right: 1.5rem;
        transition: 0.4s;
      }
    }

    .answer {
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      padding: 0 1.5rem;
      color: #777;
      transition: 0.25s;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      small {
        font-size: clamp(14px, 2vw, 16px);
        color: #645c98;
      }

      a {
        font-size: clamp(14px, 2vw, 16px);
        color: $secondary-color;
        margin-top: 1rem;

        &::after {
          content: "";
          border: 2px solid;
          border-left: 0;
          border-bottom: 0;
          transform: rotate(45deg);
          width: 8px;
          height: 8px;
          display: flex;
          margin-left: 0.5rem;
        }
      }

      p {
        font-size: clamp(16px, 2vw, 18px);
        flex-direction: row;
        gap: 2rem;
        text-align: left;
      }
    }
  }
}

.content-header {
  min-height: 20rem;

  .title {
    min-height: 20rem;
    background-color: #f3f6f9;
  }

  button {
    background-color: black;
    border-radius: 0;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    color: white;
    font-size: clamp(15px, 2.15vw, 17px);
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .swiper-slide {
    h1 {
      font-size: clamp(28px, 2.5vw, 48px);
      font-weight: 800;
    }

    .image {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.content-main {
  .section-intro {
    height: 100vh;
    background-color: $primary-color;
  }

  .section-digital {
    i {
      position: absolute;
      top: 0.5rem;
      transition: opacity 0.25s;
    }

    a {
      opacity: 0;
      visibility: hidden;
      font-size: clamp(17px, 2vw, 20px);
      z-index: 10;
      transform: translateY(5px);
    }

    a,
    h3 {
      position: absolute;
      bottom: 2rem;
      color: white;
      transition: opacity 0.25s;
      margin-bottom: 0;
    }

    h2 {
      font-size: clamp(28px, 2.15vw, 34px);
    }

    p {
      opacity: 0;
      visibility: hidden;
      font-size: 18px;
      position: absolute;
      transform: translateY(5px);
      transition: 0.25s;
    }

    img {
      max-width: none;
    }

    ul {
      align-items: center;

      li {
        user-select: none;
        opacity: 1 !important;
        animation: none !important;
        flex: 0 0 auto;
        border-radius: 50%;

        &:hover {
          div {
            &::before {
              border: 0;
              background: white;
              transform: scale(4.5);
            }
          }

          i,
          h3 {
            opacity: 0;
            visibility: hidden;
          }

          a {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            transition: 0.25s 0.25s;
            text-decoration: underline;
          }

          p {
            opacity: 1;
            visibility: visible;
            max-height: none;
            color: $primary-color;
            transform: translateY(0);
            z-index: 11;
            transition: 0.25s;
          }
        }

        &.logo {
          width: 260px;
          height: 260px;
          background: black url("../images/logo/logo_wh.png") no-repeat center;
          background-size: 85%;
          z-index: 1;

          &::before {
            content: none;
          }
        }

        div {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          transition: transform 0.5s 0.25s;

          &::before {
            content: "";
            background: url(../images/main/plus.png) no-repeat center;
            width: 50px;
            height: 50px;
            display: flex;
            transform: scale(1);
            border-radius: 50%;
            transition: transform 0.25s ease-in-out;
            cursor: pointer;
            z-index: 10;
          }
        }

        &:nth-of-type(1) {
          div {
            background-color: #5096ff;
            transform: translateX(30rem);

            a,
            p {
              color: #5096ff;
            }
          }
        }

        &:nth-of-type(2) {
          div {
            background-color: #7774ff;
            transform: translateX(18rem);

            a,
            p {
              color: #7774ff;
            }
          }
        }

        &:nth-of-type(4) {
          div {
            background-color: #fdaa5d;
            transform: translateX(-18rem);

            a,
            p {
              color: #fdaa5d;
            }
          }
        }

        &:nth-of-type(5) {
          div {
            background-color: #6ddcae;
            transform: translateX(-30rem);

            a,
            p {
              color: #6ddcae;
            }
          }
        }
      }
    }

    &.is-active {
      ul {
        li {
          &:nth-of-type(1) {
            div {
              transform: translateX(0);
            }
          }

          &:nth-of-type(2) {
            div {
              transform: translateX(0);
            }
          }

          &:nth-of-type(4) {
            div {
              transform: translateX(0);
            }
          }

          &:nth-of-type(5) {
            div {
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  .section-details {
    padding: 5rem 0;
    background-color: #f4f4f4;

    &:nth-of-type(3) {
      .images {
        :not(:first-of-type) {
          position: absolute;
        }

        :nth-of-type(2) {
          left: 16%;
          top: 34%;
        }

        :nth-of-type(3) {
          left: 73%;
          top: 37%;
        }

        :nth-of-type(4) {
          left: 82%;
          top: 35%;
        }

        :nth-of-type(5) {
          left: -10%;
          top: 63%;
        }

        :nth-of-type(6) {
          left: 17%;
          top: 72%;
        }

        :nth-of-type(7) {
          left: 10%;
          top: 93%;
        }
      }
    }

    &:nth-of-type(4) {
      .wrapper {
        flex-direction: row-reverse;
        justify-content: center;
      }

      .images {
        :not(:first-of-type) {
          position: absolute;
        }

        :nth-of-type(2) {
          animation: moveUp 1.5s forwards 1.5s, moveUpDown 2s infinite;
          left: 30%;
          top: 18%;
        }

        :nth-of-type(3) {
          animation: moveUp 1.8s forwards 1.5s, moveUpDown 2.2s infinite;
          left: -14%;
          top: 37%;
        }

        :nth-of-type(4) {
          animation: moveUp 1.35s forwards 1.5s, moveUpDown 2.4s infinite;
          left: -3%;
          top: 57%;
        }

        :nth-of-type(5) {
          animation: moveUp 2s forwards 1.5s, moveUpDown 2.6s infinite;
          left: -10%;
          top: 70%;
        }
      }
    }

    a {
      color: white;
      background-color: black;
      padding: 0.75rem 1rem;
      display: flex;
      align-items: center !important;
      justify-content: space-between;
      gap: 0.75rem;
      font-family: "Pretendard";
      transition: 0.25s;
      width: min(176px, 80vw);
      margin-top: 1rem;

      &:hover {
        background-color: #333639;
      }

      &::after {
        margin-left: 1rem;
      }
    }

    h3 {
      font-size: clamp(18px, 3vw, 24px);
      color: $primary-color;
    }

    p {
      font-size: clamp(24px, 3vw, 36px);

      span {
        line-height: 1.25;
      }
    }

    .texts {
      margin-top: -3rem;
    }

    .images {
      flex-direction: column;

      ul {
        gap: 0;

        li {
          opacity: 1;
          animation: none;

          img {
            transition: 0.75s cubic-bezier(0.47, 1.64, 0.41, 0.8) 0.75s;
          }

          &:nth-of-type(1) {
            img {
              transform: translateX(0);
            }
          }

          &:nth-of-type(2) {
            img {
              transform: translateX(-3rem);
            }
          }

          &:nth-of-type(3) {
            img {
              transform: translateX(-6rem);
            }
          }

          &:nth-of-type(4) {
            img {
              transform: translateX(-9rem);
            }
          }

          &:nth-of-type(5) {
            img {
              transform: translateX(-12rem);
            }
          }

          &:nth-of-type(6) {
            img {
              transform: translateX(-15rem);
            }
          }
        }
      }
    }

    .wrapper {
      flex: 0 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &.is-active {
      .images {
        ul {
          li {
            &:nth-of-type(1) {
              img {
                transform: translateX(0);
              }
            }

            &:nth-of-type(2) {
              img {
                transform: translateX(-1rem);
              }
            }

            &:nth-of-type(3) {
              img {
                transform: translateX(-2rem);
              }
            }

            &:nth-of-type(4) {
              img {
                transform: translateX(-3rem);
              }
            }

            &:nth-of-type(5) {
              img {
                transform: translateX(-4rem);
              }
            }

            &:nth-of-type(6) {
              img {
                transform: translateX(-5rem);
              }
            }
          }
        }
      }
    }
  }

  .section-different {
    color: white;
    transition: background-color 0.5s 0.25s;

    &.is-active {
      background-color: black;
    }

    .wrapper {
      gap: 7rem;
    }

    p {
      font-size: 18px;
      span {
        line-height: 1.5;
      }
    }

    h2 {
      font-size: clamp(36px, 3vw, 80px);
    }

    h3 {
      font-size: 24px;
      font-family: "Pretendard";
    }

    li {
      opacity: 1 !important;
      animation: none !important;

      .effect {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2.5rem;
        background-color: white;
        color: $primary-color;
        transition: ease-in-out transform 0.5s 0.75s;
      }

      &.first {
        font-family: "Pretendard";
        z-index: 3;

        .effect {
          background-color: $primary-color;
          color: white;
          transform: translate(21rem, 0) rotate(-10deg);
        }
      }

      &.second {
        z-index: 2;

        .effect {
          transform: translate(0, 0) rotate(0);
        }
      }

      &.third {
        font-family: "Pretendard";
        z-index: 1;

        .effect {
          background-color: #1ad079;
          color: white;
          transform: translate(-21rem, 0) rotate(10deg);
        }
      }
    }

    .image {
      height: 200px;
    }

    .swiper {
      overflow: unset;

      &-pagination-bullet {
        background: white;
      }
    }

    &.is-active {
      li {
        &:nth-of-type(1) {
          .effect {
            transform: translate(1rem, 0) rotate(-10deg);
          }
        }

        &:nth-of-type(2) {
          .effect {
            transform: translate(0, -2rem) rotate(0);
          }
        }

        &:nth-of-type(3) {
          .effect {
            transform: translate(-1rem, 0) rotate(10deg);
          }
        }
      }
    }
  }

  .section-events {
    small {
      font-size: 17px;
      color: slategray;
      font-family: "Pretendard";
      letter-spacing: 0;
    }

    h2 {
      font-size: clamp(24px, 3vw, 34px);
    }

    h3 {
      font-size: clamp(16px, 3vw, 18px);
      align-items: flex-start;
      text-align: left;
      margin-top: 1rem;
    }

    header {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  }

  .section-contacts {
    padding: 4rem 0;
    background-color: #0042cf;
    color: white;

    h2 {
      font-size: clamp(28px, 4vw, 45px);
      font-family: "Pretendard";
    }

    p {
      font-size: clamp(20px, 3vw, 24px);
      font-family: "Pretendard";
    }

    button {
      font-size: clamp(20px, 3vw, 24px);
      background-color: white;
      color: #0042cf;
      padding: 1.5rem 0;
      border-radius: 50px;
      width: min(80%, 360px);
      justify-content: center;
    }
  }
}

.content-goverment-benefits {
  .content-header {
    border-bottom: 1px solid #eee;
  }

  article {
    flex: 1;
    padding: 2rem;
    border: 1px solid #eee;
    border-radius: 0.5rem;

    .buttons {
      display: flex;
      justify-content: center !important;
    }

    button {
      margin-top: 2rem;
      padding: 1rem 3rem;
      background-color: $primary-color;
      color: white;
    }

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      gap: 1rem;
    }

    dl {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      dt {
        color: #737679;

        &:not(:first-of-type) {
          margin-top: 1rem;
        }
      }

      dd {
        line-height: 1.5;
      }

      ul {
        li {
          &::before {
            content: "-";
            margin-right: 3px;
          }
        }
      }
    }

    .keywords {
      display: flex;
      gap: 0.5rem;
    }

    .keyword {
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 0.25rem;

      &::before {
        content: "#";
        color: $primary-color;
      }
    }
  }

  .tab-content {
    .wrapper {
      display: flex;
      gap: 0.5rem;
      padding: 3rem 0;
    }
  }
}

.content-ads {
  .section-solutions {
    padding: 3rem 0;
    background-color: #f3f6f9;
    opacity: 1;

    .wrapper {
      width: 1168px !important;
    }

    .section-title {
      align-items: center;
      margin-bottom: 5rem;

      .logo-title {
        background: url(../images/logo/logo_diad.svg) no-repeat top 5px left;
        padding-left: 8rem !important;
        background-size: 110px;
        font-size: 60px;
        color: black;
        font-weight: 500;
      }
    }

    .menu {
      display: flex;
      justify-content: center;
      top: -4rem;
      left: 50%;
      transform: translateX(-50%);

      li {
        background: transparent !important;
        font-size: 24px;
        padding: 1.25rem 2rem;
        width: auto;
        height: auto;
        white-space: nowrap;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          height: 3px;
          width: 0;
          background-color: $primary-color;
          left: 50%;
          transform: translateX(-50%);
          transition: 0.25s;
        }

        &.swiper-pagination-bullet-active,
        &:hover {
          font-weight: 600;
          color: #333;

          &::before {
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }

    .image {
      flex: 0 0 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        flex: 0 0 auto;
        width: 500px;
        padding: 3rem;
        filter: drop-shadow(2px 6px 10px rgba(0, 0, 0, 0.25));
      }

      * {
        opacity: 0;
        transform: translateY(20px);
        transition: 0.35s;
        transition-delay: 0.75s;
      }
    }

    .texts {
      flex: 0 0 50%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-top: 5rem;
      padding-right: 2rem;

      small {
        font-size: 20px;
        color: $primary-color;
      }

      h1 {
        font-size: 40px;
        font-weight: 600 !important;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 6.25rem;
        text-transform: lowercase;
      }

      p {
        span {
          line-height: 1.75;
        }
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;

      button {
        padding: 0.75rem 1.5rem;
        font-size: 17px;
        border: 1px solid #e3e6e9;
        border-radius: 3px;
        transition: 0.25s;

        &:hover {
          background-color: #f3f6f9;
        }

        &:last-of-type {
          background-color: $primary-color;
          color: white;
          border: 0;

          &:hover {
            background-color: midnightblue;
          }
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      overflow: hidden;
      position: relative;

      .background {
        top: 50%;
        left: 9rem;
        transform: translateY(-50%);
        position: absolute;
        display: block;
        border-radius: 50%;
        width: 400px;
        height: 400px;
        transition: 0.25s;

        &::before {
          content: "";
          top: 13rem;
          left: -2.5rem;
          position: absolute;
          display: block;
          border-radius: 50%;
          width: 200px;
          height: 200px;
          background-color: rgba(100, 100, 100, 0.1);
          transition: 0.5s;
          z-index: -1;
        }

        &::after {
          content: "";
          top: 0;
          left: 16rem;
          position: absolute;
          display: block;
          border-radius: 50%;
          width: 100px;
          height: 100px;
          background-color: rgba(0, 0, 0, 0.1);
          transition: 1s;
          z-index: -1;
        }

        .donut {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-image: linear-gradient(#46aef7, #1dd5e6);
          transition: 0.25s;

          &::after {
            content: "";
            width: 30%;
            height: 30%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background-color: white;
          }
        }

        &.pro {
          &::before {
            top: 13rem;
            left: -2.5rem;
          }

          &::after {
            top: 0;
            left: 16rem;
          }

          .donut {
            background-image: linear-gradient(#46aef7, #1dd5e6);
          }
        }

        &.wave {
          &::before {
            top: 14rem;
            left: 14rem;
          }

          &::after {
            top: 3rem;
            left: -0.5rem;
          }

          .donut {
            background-image: linear-gradient(#85f4bb, #8cd9e8);
          }
        }

        &.trend {
          &::before {
            top: 10rem;
            left: -2.5rem;
          }

          &::after {
            top: 6rem;
            left: 20.5rem;
          }

          .donut {
            background-image: linear-gradient(#3fbbfe, #a541ff);
          }
        }
      }

      article {
        height: 600px;
        opacity: 0;
        padding: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 18px;
        transition: opacity 0.25s;
        transition-delay: 0.15s;

        &.swiper-slide-active {
          opacity: 1;

          .image {
            * {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }

        &.pro {
          h1 {
            background-image: url(../images/logo/logo_diad_pro.svg);
          }
        }

        &.wave {
          h1 {
            background-image: url(../images/logo/logo_diad_wave.svg);
          }
        }

        &.trend {
          h1 {
            background-image: url(../images/logo/logo_diad_trend.svg);
          }
        }
      }
    }

    .swiper-pagination-bullet-active {
      background: $primary-color !important;
    }

    .swiper-button-prev,
    .swiper-button-next {
      background: none;
      border: 2px solid #333;
      border-left: 0;
      border-bottom: 0;
      width: 2rem;
      height: 2rem;
      transform: rotate(45deg) !important;
      right: 2rem;
    }

    .swiper-button-prev {
      transform: rotate(225deg) !important;
      left: 2rem;
    }
  }
}

.content-shop {
  .content-header {
    background-color: #3399ff;
    color: white;
  }

  .section-skins {
    img {
      max-width: 100%;
    }

    .swiper-wrapper {
      transition-timing-function: linear !important;
    }

    .tab-content {
      padding: 2rem 0;
    }
  }

  &.clickn {
    .swiper {
      &-slide {
        &.easy {
          background: url("../images/subs/shop/clickn_header_1.jpg") center no-repeat;
        }

        &.with-hiselling {
          background: url("../images/subs/shop/clickn_header_2_bg.jpg") center no-repeat;
        }
      }
    }

    .section-intro {
      h3 {
        font-size: 24px;
        margin-bottom: 0;
      }

      h4 {
        font-size: 20px;
      }

      ul {
        li {
          &.quick {
            background-color: #e7f2ff;

            h4 {
              color: #5a9cea;
            }
          }

          &.pay {
            background-color: #e0f6fd;

            h4 {
              color: #62a0b1;
            }
          }

          &.mobile {
            background-color: #f2f1ff;

            h4 {
              color: #827cc6;
            }
          }
        }
      }

      .texts {
        padding: 1.25rem;
        gap: 0;
        justify-content: center;
        align-items: center;
      }
    }

    .section-who {
      padding: 6rem 0;
      background-color: #253340;
      color: white;

      p {
        font-family: "Pretendard";
      }

      h2 {
        white-space: nowrap;
      }

      .wrapper {
        flex-direction: row;
      }
    }

    .section-reviews {
      &.is-active {
        ul {
          li {
            article {
              animation: upAndDown 2s infinite alternate ease-in-out;
            }

            &:nth-of-type(even) {
              article {
                animation: upAndDown 2s infinite alternate-reverse ease-in-out;
              }
            }
          }
        }
      }

      @keyframes upAndDown {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(1rem);
        }
      }

      header {
        flex-direction: row;
        position: absolute;
        left: 0;
        top: 0;

        h2 {
          align-items: flex-start;
        }
      }

      article {
        padding: 5rem 1.5rem 2.5rem;
        box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        aspect-ratio: 1/1.5;
        position: relative;

        &::before {
          content: "\275D";
          font-size: 3.5rem;
          position: absolute;
          top: 1rem;
          left: 1rem;
        }
      }

      ul {
        gap: 1.5rem;

        li {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          &:nth-of-type(1) {
            justify-content: center;
            margin-top: 16%;
          }

          &:nth-of-type(2) {
            justify-content: center;
          }

          &:nth-of-type(4) {
            margin-top: 8%;
          }
        }
      }
    }

    .section-skins {
      background-color: black;
      color: white;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      overflow: hidden;

      ul {
        li {
          opacity: 1;
          animation: none;
        }
      }

      .tabs {
        width: auto;
        justify-content: center;

        li {
          flex: 0 0 auto;
          background-color: #555;
          color: #969696;
          border-radius: 50px;
          padding: 0.75rem 1rem;
          white-space: nowrap;
          font-family: "Pretendard";
          transition: 0.25s;

          &:hover,
          &.is-active {
            background-color: $secondary-color;
            color: white;
          }
        }
      }

      .skins {
        .image {
          width: 280px;
        }
      }
    }

    .section-build {
      p {
        color: #777;
      }

      ul {
        flex-direction: column;
        gap: 6rem;

        li {
          display: flex;
          justify-content: space-between;

          .texts {
            padding-top: 3rem;
          }

          &:nth-of-type(1) {
            .image {
              margin-left: -5rem;
            }
          }

          &:nth-of-type(2) {
            justify-content: flex-start;

            .image {
              margin-left: -6.5rem;
            }
          }
        }
      }
    }

    .section-icons {
      background-color: #f4f4f4;

      p {
        font-size: 16px;
        align-items: flex-start;
        color: #777;
        font-family: "Pretendard";
      }

      h2 {
        align-items: flex-start;

        strong {
          color: $primary-color;
        }
      }

      h3 {
        margin-top: 0.75rem;
      }

      ul {
        max-width: 730px;
        gap: 2rem;

        li {
          flex: 0 0 auto;
          width: min(220px, calc(50% - 0.5rem));
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    .section-benefits {
      background: #3399ff url(../images/subs/shop/clickn_benefits_bg.jpg) no-repeat;
      background-size: cover;
      color: white;
      padding: 0;

      small {
        opacity: 0.5 !important;
        font-size: 18px;
        font-family: "Pretendard";
      }

      p {
        font-family: "Pretendard";
      }

      h2 {
        font-size: clamp(28px, 2.5vw, 48px);
        font-weight: normal;
        line-height: 1.35;
      }

      h3 {
        font: normal 24px/1.35 "Pretendard";
        margin-top: 0.5rem;
      }

      li {
        background-color: #196de6;
        padding: 2.5rem 1rem;
        aspect-ratio: 1/1.2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .image {
        margin-left: -9vw;
      }

      .texts {
        flex: 1 1 auto;
        padding: 6rem 0;
      }

      .wrapper {
        flex-direction: row;
        align-items: flex-end;
      }
    }

    .section-sticky-button {
      button {
        font-size: clamp(20px, 2vw, 24px);
        background: linear-gradient(92.06deg, #0063fd 0%, #288dff 23.44%, #3399ff 48.96%, #2582f2 66.67%, #0042cf 100%);
      }
    }
  }

  &.cloud {
    header {
      .swiper {
        &-slide {
          &:nth-of-type(1) {
            background: url("../images/subs/shop/cloud_header_1.jpg") center no-repeat;

            .wrapper {
            }
          }
        }
      }
    }

    .section-intro {
      flex-direction: column;

      ul {
        margin-top: 3rem;
        gap: 4rem;
      }

      li {
        opacity: 1;
        animation: none;
      }

      .marquee {
        --offset: 35vw;

        &-wrapper {
          animation-duration: 20s;
        }
      }

      .image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: white;
        box-shadow: 2px 8px 16px 6px rgba(150, 150, 160, 10%);
        margin-bottom: 1rem;
      }
    }

    .section-only {
      background-color: #253340;
      color: white;

      p {
        padding: 0 2rem;
      }

      h3 {
        font-size: clamp(20px, 2vw, 34px);
      }

      li {
        flex: 1 1 calc(50% - 0.5rem);
        padding: 2rem 0 4rem;
        height: fit-content;

        &:nth-of-type(1) {
          background-color: #a966c0;

          p span {
            color: #edbaff;
          }
        }

        &:nth-of-type(2) {
          background-color: #3399ff;

          p span {
            color: #c1ddf9;
          }
        }

        &:nth-of-type(3) {
          background-color: #1ad079;

          p span {
            color: #c7ffe4;
          }
        }

        &:nth-of-type(4) {
          background-color: #7059f4;

          p span {
            color: #cdc5ff;
          }
        }
      }
    }

    .section-app {
      p {
        color: #777;

        span {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          &::before {
            content: "\00B7";
          }
        }
      }

      h3 {
        font-size: clamp(24px, 2vw, 34px);

        :first-of-type {
          color: #969696;
        }

        :last-of-type {
          font-weight: 800;
        }
      }

      ul {
        box-shadow: 0px 5px 20px 20px rgba(150, 150, 160, 0.1);
        gap: 3rem;
        padding: 3rem;
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:not(:last-of-type) {
          border-right: 1px solid #f4f4f4;
        }
      }

      .texts {
        justify-content: space-between;
        gap: 3rem;
        height: 100%;
      }
    }

    .section-payments {
      background-color: #3399ff;

      header {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
      }

      p {
        font-size: clamp(17px, 2vw, 18px);

        span {
          color: #777;
        }
      }

      h2 {
        align-items: flex-start;
      }

      h3 {
        margin-top: 0.5rem;

        :first-of-type {
          color: black;
          font-size: clamp(20px, 2vw, 24px);
        }

        :last-of-type {
          color: #0042cf;
          font-size: clamp(24px, 2.5vw, 34px);
        }
      }

      li {
        padding: 3rem 1rem;
        background-color: white;
        color: black;
      }
    }

    .section-pricing {
      margin-bottom: 2rem;

      h3 {
        font-size: clamp(22px, 2vw, 26px);
      }

      p {
        color: #777;
      }

      strong {
        color: #0042cf;
        font-size: clamp(28px, 3vw, 40px);
      }

      small {
        width: 100%;
        font-size: clamp(16px, 2vw, 18px);
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
      }

      s {
        font-size: clamp(16px, 2vw, 18px);
        color: #969696;
      }

      ul {
        justify-content: center;
        gap: 2rem;
      }

      li {
        flex: 0 0 auto;
        border: 1px solid #d3d3d3;
        padding: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: min(380px, 100%);
      }

      .percent {
        color: #3399ff;
      }

      .price {
        margin-top: 3rem;
        font-size: clamp(16px, 2vw, 18px);
      }
    }

    .section-sticky-button {
      button {
        width: min(380px, 100%);
        font-size: 24px;
        background: linear-gradient(90deg, #0042cf, #3399ff);
      }
    }
  }

  &.independent {
    header {
      .swiper {
        &-slide {
          &:nth-of-type(1) {
            background: url("../images/subs/shop/independent_header_1.jpg") center no-repeat;
          }
        }
      }
    }

    .section-intro {
      .wrapper {
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 6rem;
      }
    }

    .section-only {
      background-color: #253340;

      h3 {
        font-size: clamp(20px, 2vw, 34px);
      }

      li {
        flex: 1 1 calc(50% - 0.5rem);
        padding: 3rem 0;
        display: flex;

        &:nth-of-type(1) {
          background-color: #a966c0;

          p span {
            color: #edbaff;
          }
        }

        &:nth-of-type(2) {
          background-color: #3399ff;

          p span {
            color: #c1ddf9;
          }
        }

        &:nth-of-type(3) {
          background-color: #1ad079;

          p span {
            color: #c7ffe4;
          }
        }

        &:nth-of-type(4) {
          background-color: #7059f4;

          p span {
            color: #cdc5ff;
          }
        }
      }

      .image {
        flex-basis: 40%;
      }
    }

    .section-who {
      h3 {
        padding: 1.5rem 0;
        margin-bottom: 0;
      }

      li {
        flex: 0 0 auto;
        width: fit-content;
        box-shadow: 0px 5px 20px 20px rgba(150, 150, 160, 0.1);
      }

      .swiper {
        overflow: unset;
      }
    }

    .section-partners {
      background-color: #f4f4f4;

      ul {
      }

      li {
        flex: 0 0 auto;
      }
    }

    .section-pricing {
      margin-bottom: 2rem;

      h2 {
        font-weight: 800;
      }

      h3 {
        font-size: clamp(22px, 2vw, 26px);
      }

      strong {
        color: #0042cf;
        font-size: clamp(28px, 3vw, 40px);
      }

      small {
        width: 100%;
        font-size: clamp(16px, 2vw, 18px);
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1rem;
      }

      s {
        font-size: clamp(16px, 2vw, 18px);
        color: #969696;
      }

      ul {
        justify-content: center;
        gap: 2rem;
      }

      li {
        flex: 0 0 auto;
        border: 1px solid #d3d3d3;
        padding: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: min(380px, 100%);

        p {
          color: #777;
        }
      }

      .percent {
        color: #3399ff;
      }

      .price {
        margin-top: 3rem;
        font-size: clamp(16px, 2vw, 18px);
      }
    }
  }

  &.transfer {
    .swiper {
      &-slide {
        &.first {
          background: url("../images/subs/shop/transfer_header_1.jpg") center no-repeat;
        }
      }
    }

    .section-intro {
      p {
        color: #777;
        font-size: clamp(16px, 2vw, 18px);
      }

      ul {
        max-width: 900px;
      }

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .image {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
      }
    }

    .section-benefits {
      background: url(../images/subs/shop/transfer_benefits_bg_2.png) left top no-repeat,
        url(../images/subs/shop/transfer_benefits_bg_1.png) left bottom no-repeat;
      background-color: #253340;
      padding: 8rem 0;

      strong {
        font-size: clamp(24px, 2vw, 34px);
        color: #ffa3d7;
      }

      li {
        display: flex;
        gap: 1rem;
      }

      .wrapper {
        align-items: flex-end;

        > .texts {
          width: min(100%, 600px);
        }
      }
    }

    .section-process {
      background-color: #ebf1ff;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $secondary-color;
        color: white;
        font-style: normal;
      }

      a {
        width: 100%;
        justify-content: center;
      }

      li {
        height: auto;
        background-color: white;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        box-shadow: 0px 1px 20px 5px rgba(0, 0, 0, 0.1);

        h3 {
          color: $secondary-color;
          font-size: clamp(22px, 4vw, 24px);
          margin-bottom: 0;
        }

        a {
          color: $secondary-color;

          &::after {
            content: "";
            border: 2px solid;
            border-left: 0;
            border-bottom: 0;
            transform: rotate(45deg);
            display: inline-flex;
            width: 8px;
            height: 8px;
            margin-left: 0.5rem;
          }
        }

        p {
          font-size: clamp(16px, 2vw, 18px);
          color: #777;
        }
      }

      .swiper {
        overflow: unset;
      }
    }
  }
}

.content-openmarket {
  .section {
    &-details {
      ul {
        flex-wrap: wrap;
      }
    }
  }

  &.hiselling {
    header {
      .swiper {
        &-slide {
          &.first {
            background: url("../images/subs/openmarket/hiselling_header_1.jpg") center no-repeat;
          }
        }
      }
    }

    .section-intro {
      h3 {
        font-size: clamp(20px, 2vw, 26px);
      }

      li {
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        justify-content: flex-end;
        aspect-ratio: 1/1.37;

        &:nth-of-type(1) {
          background-image: url("../images/subs/openmarket/hiselling_intro_1.jpg");
          background-color: #ebf1ff;

          p {
            color: #777777;
          }
        }

        &:nth-of-type(2) {
          background-image: url("../images/subs/openmarket/hiselling_intro_2.jpg");
          background-color: #7774ff;

          p span {
            color: #c9c8ff;
          }
        }

        &:nth-of-type(3) {
          background-image: url("../images/subs/openmarket/hiselling_intro_3.jpg");
          background-color: #010066;

          p span {
            color: #8686c5;
          }
        }
      }
    }

    .section-recommand {
      background-color: #ebf1ff;
      padding: 0;

      .wrapper {
        flex-direction: row;
      }

      .images {
        flex: 1 1 auto;
        height: 480px;

        img {
          position: absolute;
          max-width: none;

          &:nth-of-type(1) {
            top: 0;
            left: 40%;
          }

          &:nth-of-type(2) {
            top: 10%;
            left: 0;
          }

          &:nth-of-type(3) {
            bottom: 0;
            right: 0;
          }
        }
      }
    }

    .section-knowhow {
      padding-bottom: 0;
      background-color: #253340;
      overflow: hidden;

      .images {
        :nth-of-type(1) {
          border: 2px solid white;
          border-radius: 1rem;
          margin-bottom: -1rem;
        }

        :nth-of-type(2) {
          top: 15%;
          left: -10%;
        }

        :nth-of-type(3) {
          top: 40%;
          left: -10%;
        }

        :nth-of-type(4) {
          top: 15%;
          right: -10%;
        }

        :nth-of-type(5) {
          top: -5%;
          right: 10%;
        }

        :not(:first-of-type) {
          position: absolute;
        }
      }
    }

    .section-easy {
      p {
        color: #777;
        align-items: flex-start;

        span {
          display: flex;
          gap: 0.5rem;
        }
      }

      h3 {
        font-weight: 800;
        font-size: clamp(24px, 2vw, 34px);
      }

      ul {
        box-shadow: 0px 5px 20px 20px rgba(150, 150, 160, 0.1);
        gap: 3rem;
        padding: 3rem;
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &:not(:last-of-type) {
          border-right: 1px solid #f4f4f4;
        }
      }

      .texts {
        justify-content: space-between;
        gap: 3rem;
        height: 100%;
      }
    }

    .section-sellers {
      background-color: #253340;

      h3 {
        font-size: clamp(28px, 2.5vw, 34px);
      }

      p {
        align-items: flex-start;

        span {
          color: #969696;
        }
      }

      ul {
        flex-wrap: wrap;
        gap: 0;
      }

      li {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-bottom: 5rem;
        }

        &:nth-of-type(even) {
          margin-top: 10vh;
        }
      }
    }

    .section-details {
      p {
        font-size: 16px;
        align-items: flex-start;
        color: #777;
        font-family: "Pretendard";
      }

      h2 {
        align-items: flex-start;

        strong {
          color: $primary-color;
        }
      }

      h3 {
        margin-top: 0.75rem;
      }

      ul {
        max-width: 730px;
        gap: 2rem;

        li {
          flex: 0 0 auto;
          width: min(220px, calc(50% - 0.5rem));
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
      }
    }

    .section-partners {
      background-color: #f4f4f4;

      p {
        :last-of-type {
          color: #969696;
        }
      }

      li {
        flex: 0 0 auto;
        width: min(280px, 45%);
      }
    }

    .section-pricing {

      .pricing {
        display: flex;
        gap: 1rem;
        width: 100%;
      }

      article {
        flex: 1 1 auto;
        border: 1px solid #d3d3d3;
        border-radius: 1rem;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      h3 {
        font-size: clamp(18px, 2vw, 22px);
        justify-content: center;
      }

      li {
        display: flex;
        padding: 0 1rem;
        justify-content: space-between;
      }

      ul {
        display: flex;
        flex-direction: column;

        &:last-of-type {
          color: #969696;
          font-size: clamp(13px, 2vw, 14px);

          &::before {
            content: "";
            width: 86%;
            height: 1px;
            margin: 0 auto;
            background-color: #e3e3e3;
            display: block;
            margin-bottom: 0.5rem;
          }
        }
      }

      .price {
        text-align: center;

        strong {
          color: $secondary-color;
          font-size: clamp(24px, 2.5vw, 32px);
        }
      }

      .fee {
        background-color: #f4f4f4;
        text-align: center;
        padding: 0.75rem 0;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        strong {
          font-size: clamp(16px, 2vw, 18px);
        }
      }

      .caution {
        width: 100%;
        margin-top: -1rem;

        p {
          line-height: 2;
          align-items: flex-start;
          text-align: left;
          color: #969696;
          font-size: clamp(13px, 2vw, 14px);
        }
      }
    }

    .section-sticky-button {
      button {
        background: linear-gradient(90deg, #2420dc, #7774ff);
      }
    }

    .section-free {
      padding: 0;
      background: linear-gradient(90deg, #2420DC, #7774FF);

      h2 {
        font-size: clamp(24px, 2vw, 30px);
      }

      .texts {
        align-items: center;
        gap: 0.5rem;
      }

      .wrapper {
        flex-direction: row;
        justify-content: center;
      }
    }
  }
}

.content-articles {
  padding-bottom: 6rem;

  .search {
    width: 100%;

    input {
      border: 0;
      width: 30%;
      border-radius: 0;
      border-bottom: 2px solid black;
      font-size: clamp(24px, 2vw, 28px);
      padding-right: 3rem;
      transition: 0.25s;

      &:focus {
        width: 40%;
      }
    }
  }

  .articles {
    flex-wrap: wrap;

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      font-size: clamp(14px, 2vw, 16px);
      color: #838689;
      font-weight: 500;
    }

    h3 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      font-size: clamp(16px, 2vw, 18px);
      font-weight: 700;
    }

    li {
      flex: 0 0 calc(25% - 0.75rem);
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      padding-bottom: 2rem;
      cursor: pointer;
    }

    .texts {
      gap: 0.5rem;
    }

    .image {
      border-radius: 5px;
      overflow: hidden;
    }
  }
}

.content-contacts {
  .wrapper {
  }

  h3 {
    font-size: clamp(18px, 3vw, 22px);
  }

  section {
    width: min(calc(100% - 2rem), 860px);
    margin: 0 auto;
    padding: 3rem 0;

    header {
      border-bottom: 1px solid #eee;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
    }
  }

  .inputs {
    li {
      min-height: 60px;
      border-bottom: 1px solid #eee;
    }
  }

  .selects {
    flex-wrap: wrap;
  }

  .section-agreement {
    dl {
      background-color: #f3f6f9;
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 1rem 0;
      line-height: 1.5;
      max-height: 200px;
      overflow-y: auto;

      dt {
        font-weight: bold;

        &:not(:first-of-type) {
          margin-top: 1rem;
        }
      }

      dd {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
