<aside class="aside responsive">
  <div class="buttons">
    <button class="aside-handler">
      <svg viewBox="0 0 100 100" width="80">
        <path d="m 30,33 h 40 c 0,0 8.5,-0.68551 8.5,10.375 0,8.292653 -6.122707,9.002293 -8.5,6.625 l -11.071429,-11.071429" />
        <path d="m 70,50 h -40" />
        <path d="m 30,67 h 40 c 0,0 8.5,0.68551 8.5,-10.375 0,-8.292653 -6.122707,-9.002293 -8.5,-6.625 l -11.071429,11.071429" />
      </svg>
    </button>
  </div>
  <nav>
    <div>
      <menu>쇼핑몰 창업</menu>
      <ul>
        <li class="">
          <a href="shop_clickn.html">초간편 쇼핑몰</a>
        </li>
        <li class="">
          <a href="shop_cloud.html">클라우드 쇼핑몰</a>
        </li>
        <li>
          <a href="shop_independent.html">독립 쇼핑몰</a>
        </li>
        <li>
          <a href="shop_transfer.html">쇼핑몰 이전</a>
        </li>
      </ul>
    </div>
    <div>
      <menu>제작·운영 의뢰</menu>
      <ul>
        <li class="">
          <a href="custom_shoppingmall.html">쇼핑몰</a>
        </li>
        <li class="">
          <a href="custom_design.html">디자인</a>
        </li>
        <li>
          <a href="custom_agency.html">운영 대행</a>
        </li>
      </ul>
    </div>
    <div>
      <menu>오픈마켓 판매</menu>
      <ul>
        <li class="">
          <a href="openmarket_hiselling.html">쇼핑몰 관리</a>
        </li>
      </ul>
    </div>
    <div>
      <menu>해외 진출</menu>
      <ul>
        <li class="">
          <a href="global_amazon.html">아마존 입점</a>
        </li>
        <li class="">
          <a href="global_alibaba.html">알리바바 입점</a>
        </li>
        <li>
          <a href="global_globalmall.html">해외몰 구축</a>
        </li>
      </ul>
    </div>
    <div>
      <menu>광고·마케팅</menu>
      <ul>
        <li class="">
          <a href="ads_agency.html">광고 대행</a>
        </li>
        <li class="">
          <a href="ads_sns.html">SNS 마케팅</a>
        </li>
      </ul>
    </div>
  </nav>
</aside>