<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>가비아커머스</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
  <link rel="stylesheet" href="assets/lib/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/main.css" />
  <script src="assets/lib/swiper-bundle.min.js"></script>
  <script src="assets/lib/jquery/jquery-3.6.0.js"></script>
  <script src="assets/lib/jquery/jquery-ui-1.13.0.js"></script>
  <script src="assets/js/main.js"></script>
</head>

<body>
  <div class="container">
    {% include "header.html" %}
    {% block content %} {% endblock %}
    {% include "footer.html" %}
  </div>
</body>

</html>