<header class="header">
  <div class="wrapper">
    <nav>
      <a href="index.html" class="logo"></a>
      <ul>
        <li>
          <menu>
            <a href="shop.html">쇼핑몰 창업</a>
          </menu>
          <div>
            <a href="shop_clickn.html">초간편 쇼핑몰</a>
            <a href="shop_cloud.html">클라우드 쇼핑몰</a>
            <a href="shop_independent.html">독립 쇼핑몰</a>
            <a href="shop_transfer.html">쇼핑몰 이전</a>
          </div>
        </li>
        <li>
          <menu>
            <a href="http://custom.gabiacns.com">제작·운영 의뢰</a>
          </menu>
          <div>
            <a href="http://custom.gabiacns.com/website">쇼핑몰</a>
            <a href="http://custom.gabiacns.com/design">디자인</a>
            <a href="http://custom.gabiacns.com/selling">운영 대행</a>
          </div>
        </li>
        <li>
          <menu>
            <a href="http://market.gabiacns.com">오픈마켓 판매</a>
          </menu>
          <div>
            <a href="http://market.gabiacns.com/hiselling">쇼핑몰 관리</a>
          </div>
        </li>
        <li>
          <menu>
            <a href="http://global.gabiacns.com">해외 진출</a>
          </menu>
          <div>
            <a href="http://global.gabiacns.com/amazon">아마존 입점</a>
            <a href="http://global.gabiacns.com/Alibaba">알리바바 입점</a>
            <a href="http://global.gabiacns.com/globalmall">해외몰 구축</a>
          </div>
        </li>
        <li>
          <menu>
            <a href="http://ads.gabiacns.com">광고·마케팅</a>
          </menu>
          <div>
            <a href="http://ads.gabiacns.com/agency">광고 대행</a>
            <a href="http://ads.gabiacns.com/sns">SNS 마케팅</a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="buttons">
      <button>로그인</button>
    </div>
    <div class="hamburg-menu responsive" data-toggle="hamburg">
      <svg viewBox="0 0 100 100" width="80">
        <path
          d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40">
        </path>
        <path d="m 30,50 h 40"></path>
        <path
          d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40">
        </path>
      </svg>
    </div>
  </div>
</header>