{% extends "base.html" %}
{% block content %}
<main class="content-ads agency interactive">
  <header class="content-header dark">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide first">
          <div class="wrapper">
            <h1>
              <span>광고 전문가의 차원이 다른</span>
              <span>온라인 광고 운영</span>
            </h1>
            <p>광고 전 과정을 가비아커머스가 직접 관리합니다</p>
            <button class="arrow-bg"
              onclick="window.open('')">광고 대행 상담하기</button>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-button-next"></button>
        <div class="swiper-pagination"></div>
        <button class="swiper-button-prev"></button>
      </div>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <header>
        <h2>
          <span>요즘 인기있는 광고 채널</span>
          <span>전문적으로 운영을 대행합니다</span>
        </h2>
        <p>
          <span>
            광고 매체 가입부터 캠페인 전략 수립, 광고 입찰, 광고 효과 분석까지
          </span>
          <span>
            모든 과정을 가비아커머스에서 직접 진행합니다
          </span>
        </p>
        <a href="">자세히보기</a>
      </header>
      <div class="images large">
        <img src="/assets/images/subs/ads/ads_intro_bg.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_gmarket.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_naver.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_auction.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_google.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_ssg.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_kakao.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_edn.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_8.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_9.png" alt="">
        <img src="/assets/images/subs/ads/ads_intro_10.png" alt="">
      </div>
      <div class="image">
        <img src="/assets/images/subs/ads/ads_intro_all.png" alt="">
      </div>
    </div>
  </section>
  <section class="section-prefer dark">
    <div class="wrapper">
      <header>
        <h2>
          <span>관심있는 광고가 있다면</span>
          <span>먼저 말씀주세요</span>
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="/assets/images/subs/ads/agency_prefer_1.png" alt="">
          </div>
          <div class="various">
            <div class="texts">
              <h3>오픈마켓 광고</h3>
              <p>
                <span>수십 만 개의 상품 속에서,</span>
                <span>내 상품을 상단에 노출하세요</span>
              </p>
            </div>
            <div class="images">
              <img src="/assets/images/subs/ads/agency_prefer_gmarket.png" alt="">
              <img src="/assets/images/subs/ads/agency_prefer_auction.png" alt="">
              <img src="/assets/images/subs/ads/agency_prefer_ssg.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/ads/agency_prefer_2.png" alt="">
          </div>
          <div class="various">
            <div class="texts">
              <h3>키워드 광고</h3>
              <p>
                <span>매일 발생하는 수백만 건의 검색 결과에</span>
                <span>내 서비스를 노출하세요.</span>
              </p>
            </div>
            <div class="images">
              <img src="/assets/images/subs/ads/agency_prefer_naver.png" alt="">
              <img src="/assets/images/subs/ads/agency_prefer_google.png" alt="">
              <img src="/assets/images/subs/ads/agency_prefer_kakao.png" alt="">
            </div>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/ads/agency_prefer_3.png" alt="">
          </div>
          <div class="various">
            <div class="texts">
              <h3>디스플레이 광고</h3>
              <p>
                <span>국내 각종 대표 지면에 다양한 형태와</span>
                <span>디자인으로 내 서비스를 노출하세요</span>
              </p>
            </div>
            <div class="images">
              <img src="/assets/images/subs/ads/agency_prefer_google.png" alt="">
              <img src="/assets/images/subs/ads/agency_prefer_naver.png" alt="">
              <img src="/assets/images/subs/ads/agency_prefer_kakao.png" alt="">
              <img src="/assets/images/subs/ads/agency_prefer_edn.png" alt="">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-diad">
    <div class="wrapper">
      <header>
        <h2>
          <span>광고 솔루션으로</span>
          <span>효율을 극대화합니다</span>
        </h2>
        <ul class="swiper-pagination menu"></ul>
      </header>
      <div class="swiper solutions">
        <div class="background">
          <div class="donut"></div>
        </div>
        <div class="swiper-wrapper">
          <div class="swiper-slide pro">
            <div class="texts">
              <div class="image">
                <img src="/assets/images/subs/ads/ads_diad_4.png" alt="">
              </div>
              <h3>자동 입찰 솔루션</h3>
              <p>
                <strong>반복되는 입찰 업무, 프로가 알아서 척척</strong>
                <span>다이애드 프로는 사용자 맞춤형 설정에 따라 자동으로</span>
                <span>입찰가 변경을 진행합니다</span>
              </p>
              <a href="" class="arrow">자세히 보기</a>
            </div>
            <div class="image">
              <img src="/assets/images/subs/ads/ads_diad_1.png" alt="">
            </div>
          </div>
          <div class="swiper-slide wave">
            <div class="texts">
              <div class="image">
                <img src="/assets/images/subs/ads/ads_diad_5.png" alt="">
              </div>
              <h3>판매 모니터링 솔루션</h3>
              <p>
                <strong>상품 판매량 수집, 이젠 쉽고 편하게</strong>
                <span>다이애드 웨이브는 내 상품은 물론 경쟁 상품까지 누적</span>
                <span>판매량, 가격 등 핵심 정보를 자동으로 수집하고 손쉽게</span>
                <span>조회할 수 있도록 제공합니다</span>
              </p>
              <a href="" class="arrow">자세히 보기</a>
            </div>
            <div class="image">
              <img src="/assets/images/subs/ads/ads_diad_2.png" alt="">
            </div>
          </div>
          <div class="swiper-slide trend">
            <div class="texts">
              <div class="image">
                <img src="/assets/images/subs/ads/ads_diad_6.png" alt="">
              </div>
              <h3>키워드·트렌드 분석 솔루션</h3>
              <p>
                <strong>관심 트렌드를 한 번에</strong>
                <span>그 상품은 몇 위일까? 최저가는 얼마일까?</span>
                <span>그 키워드 검색량이 얼마나 될까?</span>
                <span>상위 노출을 위한 질문들, 트렌드가 답해드립니다.</span>
              </p>
              <a href="" class="arrow">자세히 보기</a>
            </div>
            <div class="image">
              <img src="/assets/images/subs/ads/ads_diad_3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-contacts">
    <div class="wrapper">
      <header>
        <h2>
          <span>전문 광고 운영을 원하신다면</span>
          <span>지금 바로 상담하세요</span>
        </h2>
        <p>커머스 마케팅 전문가들이 직접 답변합니다.</p>
      </header>
      <div class="contacts">
        <a href="tel:1644-4527">1644-4527</a>
      </div>
    </div>
  </section>
  <section class="section-sticky-button">
    <button onclick="window.open('')">상담하기</button>
  </section>
  <section></section>
  <section class="section-extensions">
    <div class="wrapper">
      <header>
        <h2>
          함께 이용하면 더 좋습니다
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="/assets/images/subs/ads/agency_extensions_1.png" alt="">
          </div>
          <div class="texts">
            <h3>SNS 마케팅</h3>
            <p>
              <span>인스타그램, 페이스북, 블로그, 상품 후기 등</span>
              <span>네티즌들이 직접 작성하여</span>
              <span>스스로 홍보하도록 유도해 보세요.</span>
            </p>
            <a href="" class="arrow">자세히보기</a>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/ads/agency_extensions_2.png" alt="">
          </div>
          <div class="texts">
            <h3>온라인 판매 · 운영 대행</h3>
            <p>
              <span>누구나 시작할 수 있지만, 아무나 성공하는</span>
              <span>것은 아닙니다.복잡하고 어려운 온라인</span>
              <span>판매, 이커머스 전문가가 대신 해드립니다.</span>
            </p>
            <a href="" class="arrow">자세히보기</a>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
<script>
  var swiper = new Swiper(".solutions", {
    fadeEffect: { crossFade: true },
    virtualTranslate: true,
    speed: 800,
    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    },
    loop: true,
    effect: "fade",
    mousewheel: true,
    pagination: {
      el: ".menu",
      clickable: true,
      renderBullet: function (index, className) {
        return `<li class=${className}>${index + 1}</li>`;
      },
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% endblock %}