{% extends "base.html" %}
{% block content %}
<main class="content-articles events">
  <header class="content-header">
    <div class="wrapper">
      <h1>이벤트</h1>
      <div class="search">
        <input type="search" placeholder="검색어를 입력해주세요" />
        <button type="button"></button>
      </div>
    </div>
  </header>
  <ul class="tabs wrapper">
    <li data-tab="events">진행중인 이벤트</li>
    <li data-tab="events">지난 이벤트</li>
  </ul>
  <div class="tab-content wrapper" data-tab="events">
    <ul class="articles" onclick="location.href='event_details.html'">
      <li>
        <a href="">
          <div class="image">
            <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
          </div>
          <div class="texts">
            <div class="tags">
              <span>진행중</span>
            </div>
            <h3>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h3>
            <p>안녕하세요. 가비아CNS입니다.
  
              쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에 네이버페이 결제형 기능이 업데이트 되었습니다.
              기존 제공되던 '네이버페이 주문형' 과는 다르게 결제 수단에서 '네이버페이'선택이 가능해졌습니다.</p>
            <small>2023.04.07</small>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="image">
            <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
          </div>
          <div class="texts">
            <div class="tags">
              <span>진행중</span>
            </div>
            <h3>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h3>
            <p>안녕하세요. 가비아CNS입니다.
  
              쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에 네이버페이 결제형 기능이 업데이트 되었습니다.
              기존 제공되던 '네이버페이 주문형' 과는 다르게 결제 수단에서 '네이버페이'선택이 가능해졌습니다.</p>
            <small>2023.04.07</small>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="image">
            <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
          </div>
          <div class="texts">
            <div class="tags">
              <span>진행중</span>
            </div>
            <h3>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h3>
            <p>안녕하세요. 가비아CNS입니다.
  
              쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에 네이버페이 결제형 기능이 업데이트 되었습니다.
              기존 제공되던 '네이버페이 주문형' 과는 다르게 결제 수단에서 '네이버페이'선택이 가능해졌습니다.</p>
            <small>2023.04.07</small>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="image">
            <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
          </div>
          <div class="texts">
            <div class="tags">
              <span>진행중</span>
            </div>
            <h3>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h3>
            <p>안녕하세요. 가비아CNS입니다.
  
              쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에 네이버페이 결제형 기능이 업데이트 되었습니다.
              기존 제공되던 '네이버페이 주문형' 과는 다르게 결제 수단에서 '네이버페이'선택이 가능해졌습니다.</p>
            <small>2023.04.07</small>
          </div>
        </a>
      </li>
      <li>
        <a href="">
          <div class="image">
            <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
          </div>
          <div class="texts">
            <div class="tags">
              <span>진행중</span>
            </div>
            <h3>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h3>
            <p>안녕하세요. 가비아CNS입니다.
  
              쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에 네이버페이 결제형 기능이 업데이트 되었습니다.
              기존 제공되던 '네이버페이 주문형' 과는 다르게 결제 수단에서 '네이버페이'선택이 가능해졌습니다.</p>
            <small>2023.04.07</small>
          </div>
        </a>
      </li>
    </ul>
    <div class="pagination">

    </div>
  </div>
  <div class="tab-content wrapper" data-tab="events">
    <ul class="articles" onclick="location.href='event_details.html'">
      <li>
        <div class="image">
          <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
        </div>
        <div class="texts">
          <div class="tags">
            <span>진행중</span>
          </div>
          <h3>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h3>
          <p>안녕하세요. 가비아CNS입니다.

            쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에 네이버페이 결제형 기능이 업데이트 되었습니다.
            기존 제공되던 '네이버페이 주문형' 과는 다르게 결제 수단에서 '네이버페이'선택이 가능해졌습니다.</p>
          <small>2023.04.07</small>
        </div>
      </li>
      <li>
        <div class="image">
          <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
        </div>
        <div class="texts">
          <div class="tags">
            <span>진행중</span>
          </div>
          <h3>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h3>
          <p>안녕하세요. 가비아CNS입니다.

            쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에 네이버페이 결제형 기능이 업데이트 되었습니다.
            기존 제공되던 '네이버페이 주문형' 과는 다르게 결제 수단에서 '네이버페이'선택이 가능해졌습니다.</p>
          <small>2023.04.07</small>
        </div>
      </li>
    </ul>
    <div class="pagination">

    </div>
  </div>
</main>
{% endblock %}