{% extends "base.html" %}
{% block content %}
<main class="content-event">
  <article class="wrapper details">
    <header>
      <small>2023.04.07</small>
      <h2>[퍼스트몰] 네이버페이 '결제형' 오픈 기념, 지금 가입하고 네이버페이 포인트 받자!</h2>
      <div class="tags">
        <span>진행중</span>
      </div>
    </header>
    <div>
      <p>안녕하세요. 가비아CNS입니다.</p>

      <p>쇼핑몰 창업 솔루션 '가비아 퍼스트몰' 에&nbsp; 네이버페이 결제형 기능이 업데이트 되었습니다.<br>
      기존&nbsp;제공되던 '네이버페이 주문형' 과는 다르게&nbsp;<strong>결제 수단에서 '네이버페이'선택이 가능</strong>해졌습니다.</p>
      
      <p>&nbsp;</p>
      
      <p>또한 실물 배송이 아닌, 비실물 상품에도 네이버페이 제공이 가능합니다.</p>
      
      <p><img height="228" src="//www.firstmall.kr/storage/cms/202304/642fbbcca9312.png" width="640"></p>
      
      <p>&nbsp;</p>
      
      <p>편리한 결제 서비스 '네이버페이 결제형' 도입하시고,&nbsp;<br>
      페이 포인트 30,000원의 혜택도 받아가시길 바랍니다.</p>
      
      <p>&nbsp;</p>
      
      <p><a href="https://www.firstmall.kr/event/2023/naverpay?utm_source=gabiacns_official&amp;utm_medium=post&amp;utm_campaign=2304_npay" target="_blank">이벤트 자세히 보기</a></p>
      
      <p>&nbsp;</p>
      
      <p>가비아CNS 서비스를 이용해주셔서 감사합니다.</p>
      
      <p>&nbsp;</p>
    </div>
    <div class="buttons">
      <button onclick="history.back()">목록보기</button>
    </div>
  </article>
</main>
{% endblock %}