{% extends "base.html" %}
{% block content %}
<main class="content-global globalmall">
  <header class="content-header">
    <div class="title">
      <div class="wrapper">
        <h1>
          해외몰 구축
        </h1>
        <p>
          복잡하고 어려운 온라인 판매, 이커머스 전문가에게 맡겨주세요.
        </p>
      </div>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <header>
        <h2>
          <span>마젠토, 우커머스, 쇼피파이</span>
          <span>고객님이 원하는 솔루션으로 제작해 드립니다.</span>
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <a href="https://www.magentokorea.co.kr/" target="_blank">바로가기</a>
          <p>
            Magento는 오픈소스 기반의 쇼핑몰 솔루션입니다.전 세계 약 30만개사의 사이트가 마젠토로 구축되었으며,글로벌 유명 브랜드와 국내 대기업의 글로벌 쇼핑몰은모두 마젠토를 선택했습니다.
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <p>
            쇼피파이는 캐나다 솔루션으로 저렴한 초기비용과 사용하기 쉬운 인터페이스로 많은 온라인 상점들이 이용하고 있습니다. App store에 2500개 이상의 앱을 등록되어 있어 필요로 하는 부가기능을
            플러그인 앱을 통해 쉽게 구현할 수 있습니다.
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <p>
            Woocommerce(우커머스)는 WordPress 블로그 기반의 솔루션입니다. 사용자 친화적인 메뉴 구성과 기능으로 가파른 상승과 발전을 기록 중이며, 오픈 소스로 구성되어 다양한 플러그인
            설치로 필요 기능을 자유롭게 탑재할 수 있습니다.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-advantages">
    <div class="wrapper">
      <header>
        <h2>
          <span>글로벌 솔루션으로 구축하면</span>
          <span>이런 점이 더 좋습니다.</span>
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>주요 언어 및 통화 지원</h3>
          <p>
            세계 주요 언어와 통화를 지원하고, 주요 글로벌 PG도 손쉽게 적용하고 관리할 수 있습니다.
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>글로벌에 최적화된 인터페이스</h3>
          <p>
            다양한 디자인 적용으로 사용자 친화적인 UI/UX를 제공하고 반응형 웹으로 제작할 수 있습니다.
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>검색 엔진 최적화</h3>
          <p>
            글로벌 솔루션은 Google 등 검색엔진에 최적화되어 있어 보다 많은 노출 기회를 제공니다.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-partners">
    <div class="wrapper">
      <header>
        <h2>
          <span>많은 분들이 가비아 커머스에서</span>
          <span>글로벌 쇼핑몰을 제작하셨습니다.</span>
        </h2>
      </header>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="wrapper">
              <h3>LF(LG Fashion)</h3>
              <h4>구축 내용</h4>
              <ul>
                <li>
                  마젠토를 활용한 글로벌 쇼핑몰 구축(영문/중문)
                </li>
                <li>
                  기존 LF MALL 시스템과 연동으로 상품, 주문, 재고 관리의 일원화
                </li>
                <li>
                  CE 버전, API 연동(SAP), Fedex 배송 시스템 연동
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="wrapper">
              <h3>ETUDE</h3>
              <h4>구축 내용</h4>
              <ul>
                <li>마젠토를 활용한 글로벌 쇼핑몰 구축</li>
                <li>
                  EE 버전, 배송 시스템 연동, 고객 서비스 및 편의사양 추가, 콘텐츠 및 리뷰 강화 기능 추가 등
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="wrapper">
              <h3>SM C&C</h3>
              <h4>구축 내용</h4>
              <ul>
                <li>
                  마젠토 활용, 콘서트 티켓 구매자 대상 폐쇄형 쇼핑몰 구축
                </li>
                <li>
                  CD 버전, 영문/중문/일문 전환, 회원가입이 제한된 폐쇄몰, 상품별 구매 제한 수량 설정, 반응형, 주문검수 시스템 등
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="wrapper">
              <h3>iMBC</h3>
              <h4>구축 내용</h4>
              <ul>
                <li>
                  마젠토를 활용한 직구 쇼핑몰 구축
                </li>
                <li>
                  CE 버전, Multi Website를 활용한 영문, 국문 별도 도메인 구축, 원화 안내 표기 및 개인통관고유번호 등 국내향 최적화 서비스 구성
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="wrapper">
              <h3>SSG(emart)</h3>
              <h4>구축 내용</h4>
              <ul>
                <li>
                  마젠토를 활용한 글로벌 쇼핑몰 구축
                </li>
                <li>
                  EE 버전, 영문/일문/중문 사이트 구축, GA 연동을 통한 방문자 및 광고 결과 집계, 사이트별 특화 결제수단 적용
                </li>
                <li>
                  SSG.COM 시스템 연동으로 상품, 주문, 재고 관리 일원화
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="wrapper">
              <h3>ASSA ABLOY(Gateman) </h3>
              <h4>구축 내용</h4>
              <ul>
                <li>
                  마젠토를 활용힌 국내 쇼핑몰 프론트엔트 리뉴얼
                </li>
                <li>
                  스웨덴 본사 시스템 연동에 따른 개발 제약사항을 고려하여 UI/UX 개선 및 적용
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-contacts">
    <div class="wrapper">
      <header>
        <h2>
          <span>해외몰 제작 전문가와</span>
          <span>상담해보세요</span>
        </h2>
        <p>
          <span>다수의 경험의 제작 전문가가 고객의 사업특성 및 상황에 맞는 솔루션을 추천하여</span>
          <span>글로벌 쇼핑몰을 구축해드립니다</span>
        </p>
      </header>
      <div class="contacts">
        <a href="tel:070-4331-5317">070-4331-5317</a>
        <div class="buttons">
          <button onclick="">상담하기</button>
        </div>
      </div>
    </div>
  </section>
  <section class="section-process">
    <header>
      <h2>글로벌 쇼핑몰 제작 절차입니다.</h2>
    </header>
    <ul class="process">
      <li>구축 문의</li>
      <li>요구사항 분석</li>
      <li>계약</li>
      <li>제작</li>
      <li>확인 및 검수</li>
    </ul>
    <ul class="steps">
      <li>1단계: (회원님) 원하는 쇼핑몰 형태와 구현하고자 하는 세부기능 등을 문의합니다.</li>
      <li>2단계: (가비아) 고객님의 요구사항을 분석하고 컨설팅 및 견적안을 제공합니다.</li>
      <li>3단계: (회원님/ 가비아) 구현 기술 협상 및 계약을 진행합니다.</li>
      <li>4단계: (가비아) 사이트 구축을 진행합니다.</li>
      <li>5단계: (회원님) 사이트 구현 내용을 확인, 검수합니다.</li>
    </ul>
  </section>
  <section class="section-more">
    <div class="wrapper">
      <h2>
        <span>함께 이용하면</span>
        <span>더 좋습니다</span>
      </h2>
      <ul>
        <li>
          <h3>아마존 입점</h3>
          <p>
            세계 최대의 온라인 쇼핑몰인 아마존 진출을 통해 3억 명 이상의 전 세계 고객에게 제품 및 브랜드를 홍보하세요!
          </p>
        </li>
        <li>
          <h3>해외몰 구축</h3>
          <p>
            글로벌 유명 쇼핑몰 솔루션 (마젠토, 우커머스, 워드프레스) 를 활용하여 현지에 최적화된 쇼핑몰을 구축할 수 있습니다.
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-faq">
    <div class="wrapper">
      <h2>자주 묻는 질문에 답해드립니다.</h2>
      <ul class="accordion">
        <li>
          <div class="question">모바일용 사이트도 함께 제작되나요?</div>
          <div class="answer">
            <p>
              기본적으로 모바일 친화적인 반응형 테마를 사용하여 글로벌 쇼핑몰을 제작하고 있습니다.
            </p>
            <p>
              따라서 모바일 버전의 사이트는 추가 제작할 필요 없으며 반응형 홈페이지로 제작됩니다.
            </p>
          </div>
        </li>
        <li>
          <div class="question">해외 배송업체와 요금정보를 추가하고 싶어요.</div>
          <div class="answer">
            <p>
              고객님이 계약하신 글로벌 배송업체의 요금정보를 전달해주시면 배송수단으로 추가 가능합니다.
            </p>
            <p>
              목적지에 따라 선택적으로 배송사 설정 및 요율 적용이 가능합니다.
            </p>
          </div>
        </li>
        <li>
          <div class="question">타사 솔루션으로 구축된 해외 쇼핑몰을 이전할 수 있나요?</div>
          <div class="answer">
            <p>
              서로 다른 솔루션간 쇼핑몰 이전(데이터 마이그레이션)의 경우 현재 사용중인 쇼핑몰 솔루션과 새로 구축하려는 쇼핑몰 솔루션에 따라 가능여부가 달라질 수 있습니다.
            </p>
            <p>
              자세한 내용은 문의 및 상담하기를 통해 문의 부탁드립니다.
            </p>
          </div>
        </li>
        <li>
          <div class="question">구축 솔루션별 지원 언어 및 결제수단에는 어떤 것들이 있나요?</div>
          <div class="answer">
            <h3>마젠토 - Magento</h3>
            <p>
              언어팩을 이용해서 전 세계 주요언어로 서비스를 구축할 수 있으며, 범용 해외 결제수단인 페이팔(PayPal), Authorize.net, 구글 체크아웃 등 다양한 결제모듈을 제공합니다. PG사에서 제공하는 연동 정보를 입력하는 간단한 작업만으로 바로 결제시스템을 적용할 수 있습니다.
            </p>
            <h3>워드프레스 우커머스 - WordPress WooCommerce</h3>
            <p>
              다국어 플러그인을 설치하면 다국어를 지원하는 사이트를 구축할 수 있으며, 페이팔(PayPal), 스트라이프(Stripe), 아마존 페이 등의 결제모듈을 제공됩니다. 그 외에도 플러그인을 지원하는 결제수단은 플러그인 설치 및 연동 작업을 거쳐 적용할 수 있습니다.
            </p>
            <h3>쇼피파이 - Shopify</h3>
            <p>
              기본 언어는 영어이지만 관리자 설정에서 여러 언어로 설정할 수 있습니다. 결제 모듈로는 페이팔(PayPal), 엑심베이, 페이먼트월 등 다양한 결제수단을 지원합니다.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</main>
{% endblock %}