{% extends "base.html" %}
{% block content %}
<main class="content-global amazon">
  <header class="content-header">
    <div class="title">
      <div class="wrapper">
        <h1>
          아마존 입점 > 사양 자세히보기
        </h1>
      </div>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <div class="list">
        <ul class="title">
          <li></li>
          <li>아마존 온보딩</li>
          <li>아마존 브랜딩</li>
          <li>아마존 운영대행</li>
        </ul>
        <ul>
          <li>비용</li>
          <li>4,500,000원</li>
          <li>6,500,000원</li>
          <li>별도 협의</li>
        </ul>
        <ul>
          <li>제공 서비스</li>
          <li>
            <div>시장조사</div>
            <div>계정생성</div>
            <div>제품등록(~3개 SKU)</div>
            <div>제품입고</div>
            <div>프로모션</div>
            <div>광고진행</div>
            <div>교육</div>
          </li>
          <li>
            <div>시장조사</div>
            <div>계정생성</div>
            <div>제품등록 (~3개 SKU)</div>
            <div>제품입고</div>
            <div>프로모션</div>
            <div>광고진행</div>
            <div>교육</div>
            <div>미국 상표 등록</div>
            <div>아마존 브랜드 등록</div>
            <div>고급상세페이지 세팅</div>
            <div>스토어 세팅</div>
          </li>
          <li>
            <div>전 과정 운영대행</div>
          </li>
        </ul>
        <ul>
          <li>별도 비용 발생</li>
          <li>
            <div>프로모션, 광고실비</div>
            <div>배송비</div>
            <div>아마존 계정 이용료($39.99/월, 첫달 $43.99)</div>
            <div>원격접속툴 이용료($150/년)</div>
            <div>현지법 준수를 위한 인증 비용 (필요 시)</div>
          </li>
          <li>
            <div>프로모션, 광고실비</div>
            <div>배송비</div>
            <div>아마존 계정 이용료($39.99/월, 첫달 $43.99)</div>
            <div>원격접속툴 이용료($150/년)</div>
            <div>현지법 준수를 위한 인증 비용 (필요 시)</div>
            <div>미국 상표권 출원비 (약 $1,500)</div>
          </li>
          <li>
            <div>프로모션, 광고실비</div>
            <div>배송비</div>
            <div>아마존 계정 이용료($39.99/월, 첫달 $43.99)</div>
            <div>원격접속툴 이용료($150/년)</div>
            <div>현지법 준수를 위한 인증 비용 (필요 시)</div>
            <div>미국 상표권 출원비 (약 $1,500)</div>
          </li>
        </ul>
        <ul>
          <li>고객 준비 사항</li>
          <li>
            <div>제품 소개자료</div>
            <div>기본 디자인 자료 (이미지, 영상 등)</div>
          </li>
          <li>
            <div>제품 소개자료</div>
            <div>기본 디자인 자료 (이미지, 영상 등)</div>
          </li>
          <li>
            <div>제품 소개자료</div>
            <div>기본 디자인 자료 (이미지, 영상 등)</div>
          </li>
        </ul>
      </div>
      <div class="buttons">
        <button onclick="history.back()">이전페이지로</button>
        <button onclick="">상담하기</button>
      </div>
    </div>
  </section>
</main>
{% endblock %}