{% extends "base.html" %}
{% block content %}
<main class="content-global">
  <header class="content-header">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="wrapper">
            <h1>시장을 해외로 넓혀보세요</h1>
            <p>전 세계가 여러분의 고객이 됩니다.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="wrapper">
            <h1>기술과 노하우에 기반한 커머스 마케팅</h1>
            <p>Different ads, 마케팅의 노하우가 다르다</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="wrapper">
            <h1>기술과 노하우에 기반한 커머스 마케팅</h1>
            <p>Different ads, 마케팅의 노하우가 다르다</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <header>
        <h2>해외 진출을 위한 가비아 커머스 솔루션</h2>
        <p>기업에 맞는 수출 방법을 제안 드립니다.</p>
        <a href="">자세히보기</a>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>아마존 입점</h3>
          <p>
            <span>전 세계 3억 명의 아마존 고객을 대상으로</span>
            <span>온라인 스토어 오픈 및 운영 대행</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>알리바바 입점</h3>
          <p>
            <span>전 세계 2억 6천만 바이어가 사용하는,</span>
            <span>B2B 전문 최대 온라인 플랫폼 알리바바 닷컴 입점</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>해외몰 구축</h3>
          <p>
            <span>글로벌 솔루션 (마젠토, 우커머스, 워드프레스)</span>
            <span>기반의 글로벌 쇼핑몰 제작</span>
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-korea">
    <div class="wrapper">
      <header>
        <h2>한국 제품의 경쟁력, 새로운 도약</h2>
        <p>
          <span>
            지난 10년간 2,000개 이상의 한국기업이
          </span>
          <span>
            가비아 커머스를 통해 세계로 도약했습니다.
          </span>
        </p>
      </header>
      <div class="image"></div>
    </div>
  </section>
  <section class="section-vertical-slider">
    <div class="wrapper">
      <header>
        <h2>
          <span>가비아 커머스의</span>
          <span>해외 진출 실력을 확인해보세요</span>
        </h2>
      </header>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="wrapper">
              <h3>매출 증대 및 판로 개척</h3>
              <p>아마존 진출을 제안하여 성공으로 이끈 사례</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="wrapper">
              <h1>기술과 노하우에 기반한 커머스 마케팅</h1>
              <p>Different ads, 마케팅의 노하우가 다르다</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="wrapper">
              <h1>기술과 노하우에 기반한 커머스 마케팅</h1>
              <p>Different ads, 마케팅의 노하우가 다르다</p>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

  <section class="section-partners">
    <div class="wrapper">
      <header>
        <h2>
          <span>다양한 경험과 노하우를 통해</span>
          <span>해외 진출을 도와드립니다</span>
        </h2>
        <p>
          <span>다양한 수출 네트와크와 인프라를 기반으로</span>
          <span>공공 · 민간 기업의 수출을 지원합니다.</span>
        </p>
      </header>
      <ul>
        <li>
          <img src="" alt="">
          <h3>
            <span>B2B 플랫폼 알리바바</span>
            <span>한국 공식 파트너</span>
          </h3>
        </li>
        <li>
          <img src="" alt="">
          <h3>
            <span>해외결제 페이먼트월, 월드퍼스트</span>
            <span>공식 파트너</span>
          </h3>
        </li>
        <li>
          <img src="" alt="">
          <h3>
            <span>세계적인 종합 물류 회사 DHL</span>
            <span>커머스 파트너</span>
          </h3>
        </li>
        <li>
          <img src="" alt="">
          <h3>전문무역상사</h3>
          <p>산업통산자원부, 한국무역협회 지정</p>
          <small>2019년 이후 연속</small>
        </li>
        <li>
          <img src="" alt="">
          <h3>수출유망중소기업</h3>
          <p>중소벤처기업부 지정</p>
          <small>2019년 이후 연속</small>
        </li>
        <li>
          <img src="" alt="">
          <h3>수출 바우처 사업 공식 수행기관</h3>
          <p>산업통산자원부, 한국무역협회 지정</p>
          <small>2017년 이후 연속</small>
        </li>
      </ul>
      <small>※ 지원 쇼핑몰은 지속적으로 추가될 예정입니다.</small>
    </div>
  </section>
  <section class="section-contacts">
    <div class="wrapper">
      <header>
        <h2>해외로 진출하고 싶으신가요?</h2>
        <p>
          <span>간단한 궁금증이라도 지금 바로 확인해보세요</span>
          <span>가비아 커머스의 해외 진출 전문가가 답변을 드립니다.</span>
        </p>
      </header>
      <div class="contacts">
        <a href="tel:070-4331-5317">070-4331-5317</a>
        <button>상담하기</button>
      </div>
    </div>
  </section>
  <section class="section-more">
    <div class="wrapper">
      <header>
        <h2>
          <span>가비아 커머스가 추천하는</span>
          <span>판매를 촉진시키는 방법</span>
        </h2>
      </header>
      <ul>
        <li>
          <h3>쇼핑몰 창업</h3>
          <p>
            <span>클릭만으로 완성되는 초간편 쇼핑몰부터</span>
            <span>자유롭게 구현하는 맞춤 제작 쇼핑몰까지</span>
          </p>
          <a href="">자세히보기</a>
        </li>
        <li>
          <h3>오픈마켓 판매</h3>
          <p>
            <span>모든 쇼핑몰을 한 곳에서!</span>
            <span>상품 소싱부터 재고·상품·주문까지 편리하게 관리하세요</span>
          </p>
          <a href="">자세히보기</a>
        </li>
        <li>
          <h3>광고·마케팅</h3>
          <p>
            <span>데이터 분석 기반의 온라인 광고 대행</span>
            <span>내 쇼핑몰에 맞는 최고의 광고 전략을 만나보세요</span>
          </p>
          <a href="">자세히보기</a>
        </li>
      </ul>
    </div>
  </section>
</main>
<script>
  var swiper = new Swiper("header .swiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    autoplay: {
      delay: 2500,
      disableOnInteraction: false
    },
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
{% endblock %}