{% extends "base.html" %}
{% block content %}
<main class="content-global alibaba">
  <header class="content-header">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide first dark">
          <div class="wrapper">
            <h1>
              <span>언제 어디서나</span>
              <span>바이어를 만날 수 있는</span>
              <span>글로벌 무역의 중심</span>
            </h1>
            <p>알리바바 닷컴에 입점하세요.</p>
            <button class="arrow-bg" onclick="window.open('/voc/alibaba')">상담하기</button>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-button-next"></button>
        <div class="swiper-pagination"></div>
        <button class="swiper-button-prev"></button>
      </div>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <header>
        <div class="image">
          <img src="/assets/images/subs/global/alibaba_intro_1.png" alt="">
        </div>
        <h2>
          <span>전 세계 바이어와 만날 수 있는 글로벌 무역의 중심,</span>
          <span>알리바바닷컴에서 새로운 기회를 만들어 보세요</span>
        </h2>
      </header>
      <ul>
        <li>
          <p>
            <span>200개+</span>
            <span>거래국가</span>
          </p>
        </li>
        <li>
          <p>
            <span>일별</span>
            <span>40만개+</span>
            <span>메시지</span>
          </p>
        </li>
        <li>
          <p>
            <span>3억 명+</span>
            <span>바이어/</span>
            <span>가입자/</span>
          </p>
        </li>
        <li>
          <p>
            <span>17개</span>
            <span>언어 지원</span>
          </p>
        </li>
        <li>
          <p>
            <span>40개+</span>
            <span>산업군</span>
          </p>
        </li>
        <li>
          <p>
            <span>세계 No.1</span>
            <span>트래픽</span>
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-membership">
    <div class="wrapper">
      <header class="texts">
        <h2>
          <span>확실하고 안전한</span>
          <span>판매를 위해서는</span>
          <span><strong>알리바바 닷컴</strong></span>
          <span><strong>유료회원</strong>이 필수입니다</span>
        </h2>
        <p>
          <span>골드 서플라이어 멤버십</span>
          <span>(Gold Supplier Membership)</span>
        </p>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_membership_1.png" alt="">
            </div>
            <h3>인콰이어리 대응</h3>
            <p>유료 회원만 바이어의 문의 (인콰이어) 에 대응할 수 있습니다</p>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_membership_2.png" alt="">
            </div>
            <h3>상품 무제한 등록</h3>
            <p>
              무료 회원은 상품 게시를 할 수 없습니다. 유료 회원만 무제한으로 상품 등록이 가능합니다.
            </p>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_membership_3.png" alt="">
            </div>
            <h3>RFQ 사용 권한</h3>
            <p>
              유료 회원은 바이어에게 직접 견적을 제시할 수 있습니다.
            </p>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_membership_4.png" alt="">
            </div>
            <h3>미니 사이트</h3>
            <p>
              미니 사이트는 기업 전용관으로 쉽고 편리하게 회사 및 상품을 홍보할 수 있습니다.
            </p>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_membership_5.png" alt="">
            </div>
            <h3>쇼케이스</h3>
            <p>
              쇼케이스 기능을 통해 일반 상품 대비 4.7배 이상의 노출 효과를 얻을 수 있습니다.
            </p>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_membership_6.png" alt="">
            </div>
            <h3>인증 마크</h3>
            <p>
              기업 인증을 통해 구매자에게 신뢰도를 향상시킵니다.
            </p>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-pricing">
    <div class="wrapper">
      <header>
        <h2>
          <span>1년 연회비만 내면 모든 서비스 이용 가능!</span>
          <span>별도의 거래 수수료가 없습니다.</span>
        </h2>
      </header>
      <article class="list">
        <h3>Gold Supplier Membership</h3>
        <ul>
          <li></li>
          <li>Standard Package</li>
          <li>Standard Package<br>+ 운영대행 Basic</li>
          <li>Verified Package</li>
        </ul>
        <ul>
          <li>멤버십 가격</li>
          <li>
            <strong>USD 3,499</strong>
          </li>
          <li>
            <strong>USD 5,999</strong>
          </li>
          <li>
            <strong>USD 13,999</strong>
          </li>
        </ul>
        <ul>
          <li>기본 미니 사이트</li>
          <li>Y</li>
          <li>Y</li>
          <li>Y</li>
        </ul>
        <ul>
          <li>전용 미니 사이트</li>
          <li>-</li>
          <li>-</li>
          <li>Y</li>
        </ul>
        <ul>
          <li>상품 등록</li>
          <li>무제한</li>
          <li>무제한</li>
          <li>무제한</li>
        </ul>
        <ul>
          <li>쇼케이스 상품 지정 수</li>
          <li>20</li>
          <li>20</li>
          <li>60</li>
        </ul>
        <ul>
          <li>RFQ(견적요청 대응 권한)수</li>
          <li>60건/월</li>
          <li>60건/월</li>
          <li>60건/월</li>
        </ul>
        <ul>
          <li>키워드 광고</li>
          <li>USD 500 포함</li>
          <li>USD 1,500 포함</li>
          <li>USD 1,000 포함</li>
        </ul>
        <ul>
          <li>운영대행 서비스</li>
          <li>-</li>
          <li>USD 2,500 포함</li>
          <li>-</li>
        </ul>
        <ul>
          <li>생성가능 부계정 수</li>
          <li>5</li>
          <li>5</li>
          <li>10</li>
        </ul>
        <ul>
          <li>온보딩 서비스</li>
          <li>Y</li>
          <li>Y</li>
          <li>Y</li>
        </ul>
        <ul>
          <li>데이터 분석도구</li>
          <li>Y</li>
          <li>Y</li>
          <li>Y</li>
        </ul>
        <ul>
          <li>심사 전문기관을 통한 인증</li>
          <li>-</li>
          <li>-</li>
          <li>Y</li>
        </ul>
        <ul>
          <li>검색 시 우선순위 노출</li>
          <li>-</li>
          <li>-</li>
          <li>Y</li>
        </ul>
        <ul>
          <li>기업 소개 영상 제작</li>
          <li>-</li>
          <li>-</li>
          <li>Y</li>
        </ul>
        <ul>
          <li>본사 1:1 운영 컨설팅</li>
          <li>-</li>
          <li>-</li>
          <li>Y</li>
        </ul>
        <div class="caution">
          <p>
            <strong>온보딩 서비스란?</strong>          
            미니 사이트 디자인 구축 대행(상품 등록 75개 지원 및 미니 사이트 디자인 제공)
          </p>
        </div>
      </article>
      <div class="swiper small">
        <h3>Gold Supplier Membership</h3>
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <h4>Standard Package</h4>
            <div title="멤버십 가격">USD 3,499</div>
            <div title="기본 미니 사이트">Y</div>
            <div title="전용 미니 사이트">-</div>
            <div title="상품 등록">무제한</div>
            <div title="쇼케이스 상품 지정 수">20</div>
            <div title="RFQ(견적요청 대응 권한)수">60건/월</div>
            <div title="키워드 광고">USD 500 포함</div>
            <div title="운영대행 서비스">-</div>
            <div title="생성가능 부계정 수">5</div>
            <div title="온보딩 서비스">Y</div>
            <div title="데이터 분석도구">Y</div>
            <div title="심사 전문기관을 통한 인증">-</div>
            <div title="검색 시 우선순위 노출">-</div>
            <div title="기업 소개 영상 제작">-</div>
            <div title="본사 1:1 운영 컨설팅">-</div>
            <div class="price">
              USD<strong>3,499</strong>
            </div>
          </li>
          <li class="swiper-slide">
            <h4>Standard Package + 운영대행 Basic</h4>
            <div title="멤버십 가격">USD 5,999</div>
            <div title="기본 미니 사이트">Y</div>
            <div title="전용 미니 사이트">-</div>
            <div title="상품 등록">무제한</div>
            <div title="쇼케이스 상품 지정 수">20</div>
            <div title="RFQ(견적요청 대응 권한)수">60건/월</div>
            <div title="키워드 광고">USD 1,500 포함</div>
            <div title="운영대행 서비스">USD 2,500 포함</div>
            <div title="생성가능 부계정 수">5</div>
            <div title="온보딩 서비스">Y</div>
            <div title="데이터 분석도구">Y</div>
            <div title="심사 전문기관을 통한 인증">-</div>
            <div title="검색 시 우선순위 노출">-</div>
            <div title="기업 소개 영상 제작">-</div>
            <div title="본사 1:1 운영 컨설팅">-</div>
            <div class="price">
              USD<strong>5,999</strong>
            </div>
          </li>
          <li class="swiper-slide">
            <h4>Verified Package</h4>
            <div title="멤버십 가격">USD 13,999</div>
            <div title="기본 미니 사이트">Y</div>
            <div title="전용 미니 사이트">Y</div>
            <div title="상품 등록">무제한</div>
            <div title="쇼케이스 상품 지정 수">60</div>
            <div title="RFQ(견적요청 대응 권한)수">60건/월</div>
            <div title="키워드 광고">USD 1,000 포함</div>
            <div title="운영대행 서비스">-</div>
            <div title="생성가능 부계정 수">10</div>
            <div title="온보딩 서비스">Y</div>
            <div title="데이터 분석도구">Y</div>
            <div title="심사 전문기관을 통한 인증">Y</div>
            <div title="검색 시 우선순위 노출">Y</div>
            <div title="기업 소개 영상 제작">Y</div>
            <div title="본사 1:1 운영 컨설팅">Y</div>
            <div class="price">
              USD<strong>13,999</strong>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <button class="arrow-bg">자세히 보기</button>
    </div>
  </section>
  <section class="section-special dark">
    <div class="wrapper">
      <header>
        <h2>
          <span>가비아 커머스에서 알리바바 입점 시</span>
          <span>받을 수 있는 특별 서비스</span>
        </h2>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_special_1.png" alt="">
            </div>
            <h3>입점</h3>
            <p>
              <span>담당 매니저 배정</span>
              <span>한국어 입점 절차 및 서비스 안내</span>
            </p>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_special_2.png" alt="">
            </div>
            <h3>교육</h3>
            <p>
              <span>세미나 및 1:1 운영 교육</span>
              <span>알리바바닷컴 최신 정보제공</span>
            </p>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_special_3.png" alt="">
            </div>
            <h3>관리</h3>
            <p>
              <span>문의 및 애로사항 응대</span>
              <span>알리바바닷컴 이벤트 안내</span>
            </p>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-certification dark">
    <div class="wrapper">
      <header>
        <h2>
          <span>알리바바 입점에</span>
          <span>확실한 안내자가 되겠습니다</span>
        </h2>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_certification_1.jpg" alt="">
            </div>
            <h3>
              <span>알리바바</span>
              <span>한국 공식 파트너 인증</span>
            </h3>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_certification_2.jpg" alt="">
            </div>
            <h3>
              <span>알리바바닷컴 지정</span>
              <span>전문 매니저</span>
            </h3>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_certification_3.jpg" alt="">
            </div>
            <h3>
              <span>알리바바닷컴 지정</span>
              <span>전문 강사</span>
            </h3>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-process">
    <div class="wrapper">
      <header>
        <h2>알리바바 입점 절차</h2>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <i>1</i>
            <h3>멤버십 가입</h3>
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_process_1.png" alt="">
            </div>
            <p>
              <span>원하시는 멤버십 상품을</span>
              <span>선택합니다.</span>
            </p>
          </li>
          <li class="swiper-slide">
            <i>2</i>
            <h3>멤버십 결제</h3>
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_process_2.png" alt="">
            </div>
            <p>
              <span>해외송금 또는 신용카드를 통해</span>
              <span>결제를 진행합니다.</span>
            </p>
          </li>
          <li class="swiper-slide">
            <i>3</i>
            <h3>BV인증</h3>
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_process_3.png" alt="">
            </div>
            <p>
              <span>BV인증을 위하여 사업자등록증,</span>
              <span>전화요금 납부명세서 등</span>
              <span>필요서류를 제출합니다.</span>
            </p>
          </li>
          <li class="swiper-slide">
            <i>4</i>
            <h3>서비스 이용</h3>
            <div class="image">
              <img src="/assets/images/subs/global/alibaba_process_4.png" alt="">
            </div>
            <p>
              <span>상품 등록 및 인콰이어리 확인 등</span>
              <span>운영 업무를 진행합니다.</span>
            </p>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-contacts">
    <div class="wrapper">
      <header>
        <h2>알리바바 입점이 궁금하신가요?</h2>
        <p>
          <span>간단한 궁금증이라도 지금 바로 확인해보세요</span>
          <span>가비아 커머스의 해외 진출 전문가가 답변을 드립니다.</span>
        </p>
        <a href="tel:070-4331-5317">070-4331-5317</a>
      </header>
    </div>
  </section>
  <section class="section-sticky-button">
    <button
      onclick="window.open('/voc/selling')">상담하기</button>
  </section>
  <section></section>
  <section class="section-extensions">
    <div class="wrapper">
      <header>
        <h2>함께 이용하면 더 좋습니다</h2>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/custom/agency_extensions_1.png" alt="">
            </div>
            <div class="texts">
              <h3>아마존 입점</h3>
              <p>
                세계 최대의 온라인 쇼핑몰인 아마존 진출을 통해 3억 명 이상의 전 세계 고객에게 제품 및 브랜드를 홍보하세요!
              </p>
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/custom/agency_extensions_2.png" alt="">
            </div>
            <div class="texts">
              <h3>해외몰 구축</h3>
              <p>
                글로벌 유명 쇼핑몰 솔루션 (마젠토, 우커머스, 워드프레스) 를 활용하여 현지에 최적화된 쇼핑몰을 구축할 수 있습니다.
              </p>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</main>
{% endblock %}