{% extends "base.html" %}
{% block content %}
<main class="content-goverment-benefits">
  <header class="content-header">
    <div class="title">
      <div class="wrapper">
        <h1>정부 지원 혜택</h1>
        <p>정부 지원 혜택으로 그룹웨어와 클라우드를 합리적인 비용으로 도입하세요.</p>
      </div>
    </div>
  </header>
  <ul class="tabs wrapper">
    <li data-tab="goverment">전체</li>
    <li data-tab="goverment">쇼핑몰 창업</li>
    <li data-tab="goverment">해외 진출</li>
    <li data-tab="goverment">광고·마케팅</li>
  </ul>
  <div class="tab-content" data-tab="goverment">
    <div class="wrapper">
      <article>
        <header>
          <div class="keywords">
            <div class="keyword">해외 진출</div>
          </div>
          <h3>수출바우처 지원</h3>
          <div class="partners"></div>
        </header>
        <dl>
          <dt>주관 기관</dt>
          <dd>산업통상자원부, 중소벤처기업부</dd>
          <dt>사업 소개</dt>
          <dd>
            기업이 자사의 수출역량에 맞는 수출지원사업을 자유롭게 선택하여 효과적인 사업을 진행하도록 지원
            <a href="https://www.exportvoucher.com/portal/bizinfo/voucher_01" target="_blank">자세히보기</a>
          </dd>
          <dt>지원 대상</dt>
          <dd>
            2023년 수출바우처 참여 기업<br>(수출바우처 바우처를 발급받은 업체)
          </dd>
          <dt>제공 서비스</dt>
          <dd>
            <ul>
              <li>아마존 운영대행 및 판매대행 (마케팅 광고 운영)</li>
              <li>글로벌 마켓(아마존, 이베이, 쇼피, 라자다) 온보딩</li>
              <li>알리바바 글로벌 온라인 B2B 플랫폼 입점 </li>
              <li>해외 쇼핑몰 제작</li>
            </ul>
          </dd>
          <dt>신청 방법</dt>
          <dd>
            <a
              href="https://www.exportvoucher.com/portal/peform/peformDetail?peformOrgApplySeq=3113&active_menu_cd=EZ004005000">수출기반활용사업</a>에서
            원하는 서비스 선택 후 신청
          </dd>
          <dt>관련 문의</dt>
          <dd>커머스사업팀 황병준님 (070-4331-5317)</dd>
        </dl>
        <div class="buttons">
          <button>문의하기</button>
        </div>
      </article>
      <article>
        <header>
          <div class="keywords">
            <div class="keyword">광고·마케팅</div>
            <div class="keyword">쇼핑몰 창업</div>
          </div>
          <h3>중소기업 혁신바우처 지원</h3>
          <div class="partners"></div>
        </header>
        <dl>
          <dt>주관 기관</dt>
          <dd>중소벤처기업부, 중소벤처기업진흥공단</dd>
          <dt>사업 소개</dt>
          <dd>
            기업 성장 가능성 높은 중소기업을 대상으로 기업특성별 맞춤형 지원으로 중소기업의 경쟁력 강화를 위해 지원
            <a href="https://www.mssmiv.com/portal/intro/Produce" target="_blank">자세히보기</a>
            <strong>바우처 수요 기업 모집 중</strong>
          </dd>
          <dt>지원 대상</dt>
          <dd>
            2023년 중소기업 혁신 바우처 선정 기업<br>(혁신바우처 수요기업으로 선정되어 바우처를 발급받은 업체)
          </dd>
          <dt>제공 서비스</dt>
          <dd>
            <ul>
              <li>광고: 온라인 검색광고 배너광고, 바이럴 광고</li>
              <li>제작: 쇼핑몰 제작, 홈페이지 제작</li>
            </ul>
          </dd>
          <dt>신청 방법</dt>
          <dd>
            <a href="https://www.mssmiv.com/portal/Main">중소기업혁신바우처</a>에서 원하는 서비스 선택 후 신청
          </dd>
          <dt>관련 문의</dt>
          <dd>광고: 광고사업팀 김동현님 (1644-4527)</dd>
          <dd>제작: 영업팀 정광원님 (02-6907-6826)</dd>
        </dl>
        <div class="buttons">
          <button>문의하기</button>
        </div>
      </article>
    </div>
  </div>
  <div class="tab-content" data-tab="goverment">
    <div class="wrapper">
      <article></article>
    </div>
  </div>
  <div class="tab-content" data-tab="goverment">
    <div class="wrapper">
      <article></article>
    </div>
  </div>
</main>
{% endblock %}