{% extends "base.html" %}
{% block content %}
<main class="content-government-benefits">
  <header class="content-header">
    <div class="wrapper">
      <h1>정부 지원 혜택</h1>
      <p>
        <span>정부 지원 혜택으로 가비아 커머스의 서비스를</span>
        <span>합리적인 비용으로 도입하세요.</span>
      </p>
    </div>
  </header>
  <ul class="tabs wrapper">
    <li data-tab="government">전체</li>
    <li data-tab="government">쇼핑몰 창업</li>
    <li data-tab="government">해외 진출</li>
    <li data-tab="government">광고·마케팅</li>
  </ul>
  <div class="tab-content" data-tab="government" title="전체">
    <div class="wrapper">
      <section title="해외 진출">
        <header class="texts">
          <div class="keywords">
            <div class="keyword">해외 진출</div>
          </div>
          <h2>수출바우처 지원</h2>
          <p>
            <span>기업이 자사의 수출역량에 맞는</span>
            <span>수출지원사업을 자유롭게 선택하여</span>
            <span>효과적인 사업을 진행하도록 지원</span>
          </p>
          <a href="https://www.exportvoucher.com/portal/bizinfo/voucher_01" target="_blank" class="arrow">자세히 보기</a>
          <button class="arrow-bg" onclick="window.open('/voc/export')">문의하기</button>
        </header>
        <div class="texts">
          <h3>주관 기관</h3>
          <p>산업통상자원부, 중소벤처기업부</p>
          <ul class="logos">
            <li>
              <img src="/assets/images/common/government_logo_1.png" alt="">
            </li>
            <li>
              <img src="/assets/images/common/government_logo_2.png" alt="">
            </li>
            <li>
              <img src="/assets/images/common/government_logo_3.png" alt="">
            </li>
          </ul>
          <h3>지원 대상</h3>
          <p>수출지원기반활용사업 선정 기업 (수출바우처를 지급 받은 업체)</p>
          <h3>제공 서비스</h3>
          <p>· 아마존 운영대행 및 판매대행 (마케팅 광고 운영)</p>
          <p>· 글로벌 마켓(아마존, 이베이, 쇼피, 라자다) 온보딩</p>
          <p>· 알리바바 글로벌 온라인 B2B 플랫폼 입점 </p>
          <p>· 해외 쇼핑몰 제작</p>
          <h3>신청 방법</h3>
          <p>
            <a
              href="https://www.exportvoucher.com/portal/peform/peformDetail?peformOrgApplySeq=3113&active_menu_cd=EZ004005000"
              target="_blank">수출기반활용사업</a>에서 "가비아씨엔에스" 검색 후 원하는 서비스 신청
          </p>
          <h3>관련 문의</h3>
          <p>커머스사업팀 황병준 (<a href="tel:070-4331-5317">070-4331-5317</a>)</p>
        </div>
      </section>
      <section title="광고/마케팅, 쇼핑몰 창업">
        <header class="texts">
          <div class="keywords">
            <div class="keyword">광고·마케팅</div>
            <div class="keyword">쇼핑몰 창업</div>
          </div>
          <h2>
            <span>중소기업</span>
            <span>혁신바우처 지원</span>
          </h2>
          <p>
            <span>기업 성장 가능성 높은 중소기업을 대상으로</span>
            <span>기업특성별 맞춤형 지원으로 중소기업의</span>
            <span>경쟁력 강화를 위해 지원</span>
          </p>
          <a href="https://www.mssmiv.com/portal/intro/Produce" target="_blank" class="arrow">자세히 보기</a>
          <button class="arrow-bg" onclick="window.open('/voc/innovation')">문의하기</button>
        </header>
        <div class="texts">
          <h3>주관 기관</h3>
          <p>중소벤처기업부, 중소벤처기업진흥공단</p>
          <ul class="logos">
            <li>
              <img src="/assets/images/common/government_logo_3.png" alt="">
            </li>
            <li>
              <img src="/assets/images/common/government_logo_4.png" alt="">
            </li>
          </ul>
          <h3>지원 대상</h3>
          <p>2023년 중소기업 혁신 바우처 선정 기업</p>
          <p>(혁신바우처 수요기업으로 선정되어 바우처를 발급받은 업체)</p>
          <h3>제공 서비스</h3>
          <p>광고: 온라인 검색광고 배너광고, 바이럴 광고</p>
          <p>광고 제작: 쇼핑몰 제작, 홈페이지 제작</p>
          <h3>신청 방법</h3>
          <p>
            <a href="https://www.mssmiv.com/portal/Main" target="_blank">중소기업혁신바우처</a>
            <span>
              에서 원하는 서비스 선택 후 신청
            </span>
          </p>
          <h3>관련 문의</h3>
          <p>광고: 광고사업팀 김동현님 (<a href="tel:1644-4527">1644-4527</a>)</p>
              <p>광고 제작: 영업팀 정광원님 (<a href="tel:02-6907-6826">02-6907-6826</a>)</p>
        </div>
      </section>
    </div>
  </div>
  <div class="tab-content" data-tab="government" title="쇼핑몰 창업">
    <div class="wrapper">
      <section title="광고/마케팅, 쇼핑몰 창업">
        <header class="texts">
          <div class="keywords">
            <div class="keyword">광고·마케팅</div>
            <div class="keyword">쇼핑몰 창업</div>
          </div>
          <h2>
            <span>중소기업</span>
            <span>혁신바우처 지원</span>
          </h2>
          <p>
            <span>기업 성장 가능성 높은 중소기업을 대상으로</span>
            <span>기업특성별 맞춤형 지원으로 중소기업의</span>
            <span>경쟁력 강화를 위해 지원</span>
          </p>
          <a href="https://www.mssmiv.com/portal/intro/Produce" target="_blank" class="arrow">자세히 보기</a>
          <button class="arrow-bg" onclick="window.open('/voc/innovation')">문의하기</button>
        </header>
        <div class="texts">
          <h3>주관 기관</h3>
          <p>중소벤처기업부, 중소벤처기업진흥공단</p>
          <ul class="logos">
            <li>
              <img src="/assets/images/common/government_logo_3.png" alt="">
            </li>
            <li>
              <img src="/assets/images/common/government_logo_4.png" alt="">
            </li>
          </ul>
          <h3>지원 대상</h3>
          <p>2023년 중소기업 혁신 바우처 선정 기업</p>
          <p>(혁신바우처 수요기업으로 선정되어 바우처를 발급받은 업체)</p>
          <h3>제공 서비스</h3>
          <p>광고: 온라인 검색광고 배너광고, 바이럴 광고</p>
          <p>광고 제작: 쇼핑몰 제작, 홈페이지 제작</p>
          <h3>신청 방법</h3>
          <p>
            <a href="https://www.mssmiv.com/portal/Main" target="_blank">중소기업혁신바우처</a>에서 원하는 서비스 선택 후 신청
          </p>
          <h3>관련 문의</h3>
          <p>광고: 광고사업팀 김동현님 (<a href="tel:1644-4527">1644-4527</a>)</p>
              <p>광고 제작: 영업팀 정광원님 (<a href="tel:02-6907-6826">02-6907-6826</a>)</p>
        </div>
      </section>
    </div>
  </div>
  <div class="tab-content" data-tab="government" title="해외진출">
    <div class="wrapper">
      <section title="해외 진출">
        <header class="texts">
          <div class="keywords">
            <div class="keyword">해외 진출</div>
          </div>
          <h2>수출바우처 지원</h2>
          <p>
            <span>기업이 자사의 수출역량에 맞는</span>
            <span>수출지원사업을 자유롭게 선택하여</span>
            <span>효과적인 사업을 진행하도록 지원</span>
          </p>
          <a href="" class="arrow">자세히 보기</a>
          <button class="arrow-bg" onclick="window.open('/voc/export')">문의하기</button>
        </header>
        <div class="texts">
          <h3>주관 기관</h3>
          <p>산업통상자원부, 중소벤처기업부</p>
          <ul class="logos">
            <li>
              <img src="/assets/images/common/government_logo_1.png" alt="">
            </li>
            <li>
              <img src="/assets/images/common/government_logo_2.png" alt="">
            </li>
            <li>
              <img src="/assets/images/common/government_logo_3.png" alt="">
            </li>
          </ul>
          <h3>지원 대상</h3>
          <p>수출지원기반활용사업 선정 기업 (수출바우처를 지급 받은 업체)</p>
          <h3>제공 서비스</h3>
          <p>· 아마존 운영대행 및 판매대행 (마케팅 광고 운영)</p>
          <p>· 글로벌 마켓(아마존, 이베이, 쇼피, 라자다) 온보딩</p>
          <p>· 알리바바 글로벌 온라인 B2B 플랫폼 입점 </p>
          <p>· 해외 쇼핑몰 제작</p>
          <h3>신청 방법</h3>
          <p>
            <a
              href="https://www.exportvoucher.com/portal/peform/peformDetail?peformOrgApplySeq=3113&active_menu_cd=EZ004005000"
              target="_blank">수출기반활용사업</a>에서 "가비아씨엔에스" 검색 후 원하는 서비스 신청
          </p>
          <h3>관련 문의</h3>
          <p>커머스사업팀 황병준 (<a href="tel:070-4331-5317">070-4331-5317</a>)</p>
        </div>
      </section>
    </div>
  </div>
  <div class="tab-content" data-tab="government" title="광고/마케팅">
    <div class="wrapper">
      <section title="광고/마케팅, 쇼핑몰 창업">
        <header class="texts">
          <div class="keywords">
            <div class="keyword">광고·마케팅</div>
            <div class="keyword">쇼핑몰 창업</div>
          </div>
          <h2>
            <span>중소기업</span>
            <span>혁신바우처 지원</span>
          </h2>
          <p>
            <span>기업 성장 가능성 높은 중소기업을 대상으로</span>
            <span>기업특성별 맞춤형 지원으로 중소기업의</span>
            <span>경쟁력 강화를 위해 지원</span>
          </p>
          <a href="https://www.mssmiv.com/portal/intro/Produce" target="_blank" class="arrow">자세히 보기</a>
          <button class="arrow-bg" onclick="window.open('/voc/innovation')">문의하기</button>
        </header>
        <div class="texts">
          <h3>주관 기관</h3>
          <p>중소벤처기업부, 중소벤처기업진흥공단</p>
          <ul class="logos">
            <li>
              <img src="/assets/images/common/government_logo_3.png" alt="">
            </li>
            <li>
              <img src="/assets/images/common/government_logo_4.png" alt="">
            </li>
          </ul>
          <h3>지원 대상</h3>
          <p>2023년 중소기업 혁신 바우처 선정 기업</p>
          <p>(혁신바우처 수요기업으로 선정되어 바우처를 발급받은 업체)</p>
          <h3>제공 서비스</h3>
          <p>광고: 온라인 검색광고 배너광고, 바이럴 광고</p>
          <p>광고 제작: 쇼핑몰 제작, 홈페이지 제작</p>
          <h3>신청 방법</h3>
          <p>
            <a href="https://www.mssmiv.com/portal/Main" target="_blank">중소기업혁신바우처</a>에서 원하는 서비스 선택 후 신청
          </p>
          <h3>관련 문의</h3>
          <p>광고: 광고사업팀 김동현님 (<a href="tel:1644-4527">1644-4527</a>)</p>
              <p>광고 제작: 영업팀 정광원님 (<a href="tel:02-6907-6826">02-6907-6826</a>)</p>
        </div>
      </section>
    </div>
  </div>
  <div class="tab-content" data-tab="government">
    <div class="wrapper">
      <section class="nothing">
        <div class="image">
          <img src="/assets/images/common/no_content.png" alt="">
        </div>
        <h3>
          <span>
            새로운 <strong>정부 지원 사업</strong> 소식을
          </span>
          <span>곧 알려 드리겠습니다.</span>
        </h3>
      </section>
    </div>
  </div>
</main>
{% endblock %}