{% extends "base.html" %}
{% block content %}
<main class="content-main interactive">
  <section class="section-intro">

  </section>
  <section class="section-digital">
    <div class="wrapper">
      <header>
        <h2>
          <span>가비아커머스와 함께하는 즐거운 디지털 세상</span>
          <span>지금 바로 경험해보세요</span>
        </h2>
      </header>
      <ul>
        <li>
          <div>
            <i>
              <img src="/assets/images/main/digital_01.png" alt="">
            </i>
            <h3>쇼핑몰 창업</h3>
            <a href="">자세히보기</a>
            <p>
              <span>누구나 손쉽게 나만의</span>
              <span>쇼핑몰을 제작하세요</span>
            </p>
          </div>
        </li>
        <li>
          <div>
            <i style="right: -1rem">
              <img src="/assets/images/main/digital_02.png" alt="">
            </i>
            <h3>오픈마켓 판매</h3>
            <a href="">자세히보기</a>
            <p>
              <span>쇼핑몰 확장으로 더 높은</span>
              <span>매출을 창출하세요.</span>
            </p>
          </div>
        </li>
        <li class="logo">
        </li>
        <li>
          <div>
            <i >
              <img src="/assets/images/main/digital_03.png" alt="">
            </i>
            <h3>해외 진출</h3>
            <a href="">자세히보기</a>
            <p>
              <span>글로벌 마켓 진출로</span>
              <span>비즈니스를 확장하세요</span>
            </p>
          </div>
        </li>
        <li>
          <div>
            <i>
              <img src="/assets/images/main/digital_04.png" alt="">
            </i>
            <h3>광고·마케팅</h3>
            <a href="">자세히보기</a>
            <p>
              <span>데이터 기반의 마케팅</span>
              <span>컨설팅을 제공합니다</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="sections details">
    <section class="section-details">
      <div class="wrapper">
        <div class="texts">
          <h3>쇼핑몰 창업</h3>
          <h2>
            <span>클릭만으로 완성되는</span>
            <span>초간편 쇼핑몰부터</span>
            <span>자유롭게 구현하는</span>
            <span>맞춤 제작 쇼핑몰까지</span>
          </h2>
          <div class="links">
            <a class="arrow" href="">초간편쇼핑몰</a>
            <a class="arrow" href="">독립쇼핑몰</a>
          </div>
        </div>
        <div class="images">
          <img src="/assets/images/main/details_01.png" alt="">
        </div>
      </div>
    </section>
    <section class="section-details">
      <div class="wrapper">
        <div class="images">
          <img src="/assets/images/main/details_02.png" alt="">
          <ul>
            <li>
              <img src="/assets/images/main/details_02_1.png" alt="">
            </li>
            <li>
              <img src="/assets/images/main/details_02_2.png" alt="">
            </li>
            <li>
              <img src="/assets/images/main/details_02_3.png" alt="">
            </li>
            <li>
              <img src="/assets/images/main/details_02_4.png" alt="">
            </li>
            <li>
              <img src="/assets/images/main/details_02_5.png" alt="">
            </li>
            <li>
              <img src="/assets/images/main/details_02_6.png" alt="">
            </li>
          </ul>
        </div>
        <div class="texts">
          <h3>오픈마켓 판매</h3>
          <h2>
            <span>모든 쇼핑몰을 한 곳에서</span>
            <span>상품 소싱부터 재고·상품·주문까지</span>
            <span>편리하게 관리하세요.</span>
          </h2>
          <a class="arrow" href="">자세히 보기</a>
        </div>
      </div>
    </section>
    <section class="section-details">
      <div class="wrapper">
        <div class="texts">
          <h3>해외 진출</h3>
          <h2>
            <span>글로벌 쇼핑몰 구축과 운영대행,</span>
            <span>해외 온라인마켓 판매대행까지</span>
            <span>글로벌 전문가와 함께 하세요.</span>
          </h2>
          <a class="arrow" href="">자세히 보기</a>
        </div>
        <div class="images">
          <img src="/assets/images/main/details_03.png" alt="">
          <img src="/assets/images/main/details_03_1.png" alt="">
          <img src="/assets/images/main/details_03_2.png" alt="">
          <img src="/assets/images/main/details_03_3.png" alt="">
          <img src="/assets/images/main/details_03_amazon.png" alt="">
          <img src="/assets/images/main/details_03_alibaba.png" alt="">
          <img src="/assets/images/main/details_03_magento.png" alt="">
        </div>
      </div>
    </section>
    <section class="section-details">
      <div class="wrapper">
        <div class="texts">
          <h3>광고·마케팅</h3>
          <h2>
            <span>다양한 온라인 광고부터</span>
            <span>광고 분석 솔루션까지</span>
            <span>내 쇼핑몰에 맞는 최고의</span>
            <span>광고 전략을 만나보세요.</span>
          </h2>
          <a class="arrow" href="">자세히 보기</a>
        </div>
        <div class="images">
          <img src="/assets/images/main/details_04.png" alt="">
          <img src="/assets/images/main/details_04_n.png" alt="">
          <img src="/assets/images/main/details_04_f.png" alt="">
          <img src="/assets/images/main/details_04_k.png" alt="">
          <img src="/assets/images/main/details_04_i.png" alt="">
        </div>
      </div>
    </section>
  </div>
  <section class="section-different">
    <div class="wrapper">
      <header>
        <h2>
          <span>가비아커머스는</span>
          <span>왜 다를까요?</span>
        </h2>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide first">
            <div class="effect">
              <div class="image">
                <img src="/assets/images/main/different_01.png" alt="">
              </div>
              <div class="texts">
                <h3>커머스 전문가</h3>
                <p>
                  <span>20년 이상 커머스 분야에서</span>
                  <span>쌓아온 노하우와 전문성으로</span>
                  <span>당신의 비즈니스에 딱 맞는</span>
                  <span>전략을 제안합니다.</span>
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide second">
            <div class="effect">
              <div class="image">
                <img src="/assets/images/main/different_02.png" alt="">
              </div>
              <div class="texts">
                <h3>보증된 안정성</h3>
                <p>
                  <span>IT 인프라 기업 가비아의 </span>
                  <span>기술력과 안정성을 기반으로</span>
                  <span>빠르고 안전한 서비스를</span>
                  <span>제공합니다.</span>
                </p>
              </div>
            </div>
          </li>
          <li class="swiper-slide third">
            <div class="effect">
              <div class="image">
                <img src="/assets/images/main/different_03.png" alt="">
              </div>
              <div class="texts">
                <h3>토탈 서비스</h3>
                <p>
                  <span>쇼핑몰 제작부터 운영, 판매,</span>
                  <span>마케팅, 해외진출까지</span>
                  <span>커머스 전 영역의</span>
                  <span>토탈 서비스를 제공합니다.</span>
                </p>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-events">
    <div class="wrapper">
      <header>
        <h2>가비아커머스 이벤트</h2>
        <a href="" class="">자세히보기</a>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/main/event_01.jpg" alt="">
            </div>
            <h3>[하이셀링] 신규회원 30% 할인 혜택 제공</h3>
            <small>2023.04.03</small>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/main/event_02.jpg" alt="">
            </div>
            <h3>[하이셀링] 신규회원 30% 할인 혜택 제공</h3>
            <small>2023.04.03</small>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/main/event_03.jpg" alt="">
            </div>
            <h3>[하이셀링] 신규회원 30% 할인 혜택 제공</h3>
            <small>2023.04.03</small>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/main/event_04.jpg" alt="">
            </div>
            <h3>[하이셀링] 신규회원 30% 할인 혜택 제공</h3>
            <small>2023.04.03</small>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-contacts">
    <div class="wrapper">
      <header>
        <h2>비지니스 상담이 필요하다면?</h2>
        <p>가비아커머스 전문가와 함께 찾아보세요</p>
      </header>
      <button>상담하기</button>
    </div>
  </section>
  <section class="section-benefits">
    <div class="image">
      <img src="/assets/images/common/shaking_hands.png" alt="">
    </div>
    <div class="texts">
      <h2>가비아커머스의 정부 지원 혜택을 확인해보세요</h2>
      <a href="" class="arrow">정부지원혜택 확인하기</a>
    </div>
  </section>
</main>
{% endblock %}