{% extends "base.html" %}
{% block content %}
<main class="content-articles">
  <header class="content-header">
    <div class="wrapper">
      <h1>새소식</h1>
      <div class="search">
        <input type="search" placeholder="검색어를 입력해주세요" />
        <button type="button"></button>
      </div>
    </div>
  </header>

  <ul class="articles wrapper" onclick="location.href='new_details.html'">
    <li>
      <div class="image">
        <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
      </div>
      <div class="texts">
        <div class="tags">
          <span>쇼핑몰 창업</span>
        </div>
        <h3>[맞춤 제작] 아식스 코리아, 2차 개발 진행</h3>
        <small>2023.04.07</small>
      </div>
    </li>
    <li>
      <div class="image">
        <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
      </div>
      <div class="texts">
        <div class="tags">
          <span>CNS소식</span>
        </div>
        <h3>가비아CNS, 수출바우처 사업 6년 연속 수행기관 선정</h3>
        <small>2023.04.07</small>
      </div>
    </li>
    <li>
      <div class="image">
        <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
      </div>
      <div class="texts">
        <div class="tags">
          <span>글머리</span>
        </div>
        <h3>가비아CNS, ‘공영홈쇼핑’ 검색 광고 공식 대행사 선정</h3>
        <small>2023.04.07</small>
      </div>
    </li>
    <li>
      <div class="image">
        <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
      </div>
      <div class="texts">
        <div class="tags">
          <span>글머리</span>
        </div>
        <h3>가비아CNS, ‘공영홈쇼핑’ 검색 광고 공식 대행사 선정</h3>
        <small>2023.04.07</small>
      </div>
    </li>
    <li>
      <div class="image">
        <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
      </div>
      <div class="texts">
        <div class="tags">
          <span>회사소식</span>
        </div>
        <h3>[퍼스트몰] 8월 한정 특가 0원으로 시작하세요!</h3>
        <small>2023.04.07</small>
      </div>
    </li>
    <li>
      <div class="image">
        <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
      </div>
      <div class="texts">
        <div class="tags">
          <span>이벤트</span>
        </div>
        <h3>가비아CNS, 수출바우처 사업 6년 연속 수행기관 선정</h3>
        <small>2023.04.07</small>
      </div>
    </li>
    <li>
      <div class="image">
        <img src="https://www.firstmall.kr/storage/cms/202304/642fbd8fd19b1.png" alt="">
      </div>
      <div class="texts">
        <div class="tags">
          <span>공지</span>
        </div>
        <h3>가비아CNS, ‘공영홈쇼핑’ 검색 광고 공식 대행사 선정</h3>
        <small>2023.04.07</small>
      </div>
    </li>
  </ul>
  <div class="pagination">

  </div>
</main>
{% endblock %}