{% extends "base.html" %}
{% block content %}
<main class="content-shop clickn interactive">
  <header class="content-header">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide easy">
          <div class="wrapper">
            <h1>
              <span>클릭만으로 완성되는</span>
              <span>나만의 초간편 쇼핑몰</span>
            </h1>
            <p>
              지금 바로 무료로 시작해보세요
            </p>
            <button class="arrow" onclick="window.open('https://www.clickn.co.kr/template')">쇼핑몰 무료로 만들기</button>
          </div>
        </div>
        <div class="swiper-slide with-hiselling">
          <div class="wrapper">
            <h1>
              <span>판매 채널을 늘려</span>
              <span>더 많은 고객을 만나보세요</span>
            </h1>
            <p>쇼핑몰 통합관리 솔루션 하이셀링 할인 이벤트</p>
            <button class="arrow" onclick="window.open('https://www.clickn.co.kr/event/withhiselling')">자세히 보기</button>
            <div class="image">
              <img src="/assets/images/subs/shop/clickn_header_2.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-button-next"></button>
        <div class="swiper-pagination"></div>
        <button class="swiper-button-prev"></button>
      </div>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <header>
        <h2>
          <span>쉽게 완성하는 쇼핑몰</span>
          <span>클릭엔과 함께 시작해보세요</span>
        </h2>
        <p>간단하게 나만의 쇼핑몰을 만들고 성장시킬 수 있습니다</p>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_intro_1.jpg" alt="">
          </div>
          <div class="texts">
            <h4>쇼핑몰</h4>
            <h3>3분 완성</h3>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_intro_2.jpg" alt="">
          </div>
          <div class="texts">
            <h4>카드결제 수수료</h4>
            <h3>업계 최저 16%</h3>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_intro_3.jpg" alt="">
          </div>
          <div class="texts">
            <h4>화면 자동 최적화</h4>
            <h3>반응형 모바일</h3>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-who">
    <div class="wrapper">
      <div class="texts">
        <h2>이런 분들에게 꼭 필요합니다.</h2>
        <p>
          <span>쇼핑몰 간편 제작 솔루션 클릭엔으로</span>
          <span>누구나 마음놓고 시작해보세요.</span>
        </p>
      </div>
      <div class="image">
        <img src="/assets/images/subs/shop/clickn_who.png" alt="">
      </div>
    </div>
  </section>
  <section class="section-reviews">
    <div class="wrapper">
      <header>
        <h2>
          <span>클릭엔</span>
          <span>고객후기</span>
        </h2>
        <img src="/assets/images/subs/shop/clickn_reviews.png" alt="">
      </header>
      <ul>
        <li>
          <article>
            <div class="texts">
              <h3>브랜드 성장,클릭엔과 함께 했어요</h3>
              <p>
                이미 알려진 것처럼 클릭엔으로 쉽고 빠르게 만들 수 있어 정말 편리했습니다.
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/logo_dh_ftn.png" alt="">
            </div>
          </article>
        </li>
        <li>
          <article>
            <div class="texts">
              <h3>브랜드 성장,클릭엔과 함께 했어요</h3>
              <p>
                이미 알려진 것처럼 클릭엔으로 쉽고 빠르게 만들 수 있어 정말 편리했습니다.
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/logo_dusol_hair.png" alt="">
            </div>
          </article>
        </li>
        <li>
          <article>
            <div class="texts">
              <h3>제작 업체에 맡기지 마세요!</h3>
              <p>
                짧은 시간 내에 한 페이지를꾸밀 수 있었고 덕분에 홈페이지를 빠르게 완성할 수 있었습니다.
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/logo_hempnic.png" alt="">
            </div>
          </article>
          <article>
            <div class="texts">
              <h3>제작 업체에 맡기지 마세요!</h3>
              <p>
                짧은 시간 내에 한 페이지를꾸밀 수 있었고 덕분에 홈페이지를 빠르게 완성할 수 있었습니다.
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/logo_nam_comm.png" alt="">
            </div>
          </article>
        </li>
        <li>
          <article>
            <div class="texts">
              <h3>한 번만 작업하면 완성됩니다</h3>
              <p>
                코딩에 대한 전문 지식 및 인력 없이도 홈페이지 레이아웃을쉽게 구현할 수 있어 브랜드만의 특색을 살린 홈페이지를 만들 수 있었습니다.
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/logo_w.png" alt="">
            </div>
          </article>
          <article>
            <div class="texts">
              <h3>한 번만 작업하면 완성됩니다</h3>
              <p>
                코딩에 대한 전문 지식 및 인력 없이도 홈페이지 레이아웃을쉽게 구현할 수 있어 브랜드만의 특색을 살린 홈페이지를 만들 수 있었습니다.
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/logo_ice_art.png" alt="">
            </div>
          </article>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-skins">
    <header>
      <h2>
        감각적인 쇼핑몰 스킨을 무료로 사용해 보세요
      </h2>
      <p>
        <span>업종, 취향에 따라 원하는 스킨을 선택해</span>
        <span>나만의 쇼핑몰을 쉽고 빠르게 만들 수 있습니다.</span>
      </p>
    </header>
    <ul class="tabs">
      <li data-tab="skins">패션</li>
      <li data-tab="skins">식품</li>
      <li data-tab="skins">전자기기</li>
      <li data-tab="skins">화장품</li>
      <li data-tab="skins">악세사리</li>
      <li data-tab="skins">여가/취미</li>
    </ul>
    <div class="tab-content" data-tab="skins" title="패션">
      <div class="marquee">
        <ul class="skins marquee-wrapper" aria-hidden="true">
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" data-tab="skins" title="식품">
      <div class="marquee">
        <ul class="skins marquee-wrapper" aria-hidden="true">
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" data-tab="skins" title="전자기기">
      <div class="marquee">
        <ul class="skins marquee-wrapper" aria-hidden="true">
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" data-tab="skins" title="화장품">
      <div class="marquee">
        <ul class="skins marquee-wrapper" aria-hidden="true">
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" data-tab="skins" title="악세사리">
      <div class="marquee">
        <ul class="skins marquee-wrapper" aria-hidden="true">
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content" data-tab="skins" title="여가/취미">
      <div class="marquee">
        <ul class="skins marquee-wrapper" aria-hidden="true">
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_28_light/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_27_academy/thumb.jpg" alt="">
            </div>
          </li>
          <li>
            <div class="image">
              <img src="https://storage.clickn.co.kr/skin/homepage_26_spacerental/thumb.jpg" alt="">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-build">
    <div class="wrapper">
      <ul>
        <li>
          <div class="texts">
            <h2>
              <span>개발자가 없어도</span>
              <span>디자이너가 없어도 괜찮습니다</span>
            </h2>
            <p>
              <span>400개 이상의 디자인 블록을 한번의 클릭만으로</span>
              <span>자유롭게 추가해 다양한 기능과 멋진 디자인을 가진</span>
              <span>쇼핑몰을 간단하게 만들 수 있습니다.</span>
            </p>
          </div>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_build_1.png" alt="">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_build_2.png" alt="">
          </div>
          <div class="texts">
            <h2>
              <span>번거로운 작업, 복잡한 작업없이</span>
              <span>쇼핑몰을 운영합니다</span>
            </h2>
            <p>
              <span>직관적인 구성과 간단한 설정 방식으로</span>
              <span>빠르고 쉽게 관리할 수 있습니다.</span>
              <span>다양한 외부서비스가 API로 연동되어 있어</span>
              <span>간단하게 사용하실 수 있습니다.</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-icons">
    <div class="wrapper">
      <header>
        <h2>
          <span>쇼핑몰에</span>
          <span>
            <strong>꼭 필요한 기능</strong>을
          </span>
          <span>모두 제공합니다</span>
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>간편한 상품 등록</h3>
          <p>
            <span>판매할 상품을 쉽고 빠르게</span>
            <span>등록할 수 있습니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>편리한 주문 관리</h3>
          <p>
            <span>주문 목록에서 간소화된 절차로</span>
            <span>배송을 처리할 수 있고,</span>
            <span>클레임 처리 기능도 제공합니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>바로 이용 가능한 전자결제</h3>
          <p>
            <span>신청 즉시 이용 가능한</span>
            <span>결제 시스템을 업계 최저 수수료</span>
            <span>1.0%로 이용할 수 있습니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>쇼핑광고</h3>
          <p>
            <span>네이버쇼핑과 연결하여</span>
            <span>네이버 검색에 쇼핑몰 상품을</span>
            <span>노출할 수 있습니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>할인혜택 관리</h3>
          <p>
            <span>다운로드 쿠폰을 제공하여</span>
            <span>회원대상으로 내부 프로모션을</span>
            <span>진행할 수 있습니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>안전한 쇼핑몰 보안</h3>
          <p>
            <span>무료 SSL 인증서 자동 적용으로</span>
            <span>쇼핑몰 회원 정보를</span>
            <span>안전하게 보호합니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>반응형 디자인</h3>
          <p>
            <span>PC에서 한 번만 작업하세요</span>
            <span>태블릿, 모바일에서는 자동으로</span>
            <span>쇼핑몰에 최적화된 화면으로 노출됩니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>카카오 알림톡</h3>
          <p>
            <span>카카오톡으로 배송정보를</span>
            <span>주문자에게 제공할 수 있습니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="/assets/images/subs/shop/clickn_icons_1.png" alt="">
          </div>
          <h3>검색엔진최적화(SEO)</h3>
          <p>
            <span>네이버, 구글등의 검색엔진에</span>
            <span>내 쇼핑몰을 빠르게</span>
            <span>찾을 수 있도록 합니다.</span>
          </p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-benefits">
    <div class="wrapper">
      <div class="image">
        <img src="/assets/images/subs/shop/clickn_benefits_gift.png" alt="">
      </div>
      <div class="texts">
        <h2>
          <span>클릭엔만의</span>
          <span>특별한 혜택을 만나보세요</span>
        </h2>
        <p>클릭엔을 이용하면 비용과 절차를 최소화할 수 있습니다</p>
        <ul>
          <li>
            <div>
              <img src="/assets/images/subs/shop/clickn_benefits_1.png" alt="">
              <h3>
                <span>서비스</span>
                <span>이용 비용</span>
              </h3>
            </div>
            <h2>6,000원</h2>
          </li>
          <li>
            <div>
              <img src="/assets/images/subs/shop/clickn_benefits_2.png" alt="">
              <h3>
                <span>업계최저</span>
                <span>카드수수료</span>
              </h3>
            </div>
            <h2>1%</h2>
          </li>
          <li>
            <div>
              <img src="/assets/images/subs/shop/clickn_benefits_3.png" alt="">
              <h3>
                <span>즉시 사용 가능</span>
                <span>전자결제(PG)</span>
              </h3>
            </div>
            <h2>신청 즉시</h2>
          </li>
        </ul>
        <small>* 월 / VAT 별도</small>
      </div>
    </div>
  </section>
  <section>
    <div class="wrapper">
      <header>
        <p>직접 사용해 보는 것 만큼 좋은 방법은 없습니다</p>
        <h2>온라인 비즈니스를 클릭엔으로 시작하세요</h2>
      </header>
    </div>
  </section>
  <section class="section-sticky-button">
    <button onclick="window.open('https://www.clickn.co.kr/template')">쇼핑몰 무료로 만들기</button>
  </section>
  <section></section>
</main>
<script>
  var swiper = new Swiper(".swiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    autoplay: {
      delay: 4000,
      disableOnInteraction: false
    },
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      type: "fraction",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });

  var swiper2 = new Swiper(".skins", {
    slidesPerView: 5,
    spaceBetween: 30,
    autoplay: {
      delay: 1,
      disableOnInteraction: false
    },
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    freemode: true,
    speed: 5000,
    loop: true,
    loopAdditionalSlides: 2,
    breakpoints: {
      320: {
        slidesPerView: 1.5,
        spaceBetween: 28,
      },
      768: {
        slidesPerView: '5',
        spaceBetween: 56,
      }
    },
  });
</script>
{% endblock %}