{% extends "base.html" %}
{% block content %}
<main class="content-shop independent interactive">
  <header class="content-header">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="wrapper">
            <h1>
              <span>원하는대로</span>
              <span>필요한 기능만 쏙쏙!</span>
            </h1>
            <p>
              <span>원하시는 기능이 쇼핑몰에 없나요?</span>
              <span>퍼스트몰 독립 쇼핑몰로 자유롭게 구현해보세요.</span>
            </p>
            <button class="arrow-bg" onclick="window.open('https://www.firstmall.kr/register/firstmall?type=P_EXPA')">쇼핑몰
              만들기</button>
          </div>
        </div>
      </div>
      <div class="swiper-navigation">
        <button class="swiper-button-next"></button>
        <div class="swiper-pagination"></div>
        <button class="swiper-button-prev"></button>
      </div>
    </div>
  </header>
  <section class="section-partners">
    <div class="wrapper">
      <header>
        <h2>
          <span>차별화된 나만의 쇼핑몰</span>
          <span>독립 쇼핑몰로 완성하세요</span>
        </h2>
        <p>
          <span>직접 프로그램 소스를 수정하여 원하는 기능과 디자인을 적용하여</span>
          <span>나만의 특별한 쇼핑몰을 만들 수 있습니다</span>
        </p>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_1.jpg" alt="아식스 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_2.jpg" alt="아크테릭스 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_3.jpg" alt="프레시지 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_4.jpg" alt="에어데이트 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_5.jpg" alt="꽃집청년들 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_6.jpg" alt="젠떼스토어 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_7.jpg" alt="강원도몰 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_8.jpg" alt="문고리닷컴 로고">
            </div>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_partner_9.jpg" alt="리씽크몰 로고">
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-only dark">
    <div class="wrapper">
      <header>
        <h2>
          <span>오직 퍼스트몰 에서만 가능합니다</span>
          <span>특별한 쇼핑몰을 제작해보세요</span>
        </h2>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <i class="plus"></i>
            <div class="texts">
              <h3>
                <span>원하는대로</span>
                <span>맞춤 개발 가능</span>
              </h3>
            </div>
            <div class="texts">
              <p>
                <span>프로그램 소스 수정이 가능하여</span>
                <span>원하는 기능과 디자인 추가 개발</span>
                <span>모두 자유롭습니다.</span>
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/shop/independent_only_2.png" alt="">
            </div>
          </li>
          <li class="swiper-slide">
            <i class="plus"></i>
            <div class="texts">
              <h3>
                <span>쇼핑몰 솔루션</span>
                <span>라이선스 제공</span>
              </h3>
            </div>
            <div class="texts">
              <p>
                <span>영구적으로 소유 가능한 쇼핑몰 라이선스를</span>
                <span>합리적인 가격으로 제공합니다.</span>
                <span>(구매 시 라이선스 1copy 제공)</span>
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/shop/independent_only_1.png" alt="">
            </div>
          </li>
          <li class="swiper-slide">
            <i class="plus"></i>
            <div class="texts">
              <h3>
                <span>최신 버전</span>
                <span>패치 파일 제공</span>
              </h3>
            </div>
            <div class="texts">
              <p>
                <span>독립 쇼핑몰 구매 이후에도 솔루션에 반영된</span>
                <span>최신 기능에 대한 패치 파일을 제공하여</span>
                <span>지속적인 유지보수가 가능합니다.</span>
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/shop/independent_only_3.png" alt="">
            </div>
          </li>
          <li class="swiper-slide">
            <i class="plus"></i>
            <div class="texts">
              <h3>
                <span>자유롭고 유연한</span>
                <span>서버 환경 제공</span>
              </h3>
            </div>
            <div class="texts">
              <p>
                <span>웹호스팅, 단독서버, 코로케이션, G클라우드,</span>
                <span>AWS, 외부호스팅 등 원하는대로</span>
                <span>자유롭게 서버 환경 구축 가능합니다</span>
              </p>
            </div>
            <div class="image">
              <img src="/assets/images/subs/shop/independent_only_4.png" alt="">
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-business">
    <div class="wrapper">
      <header>
        <h2>
          <strong>차별화된 기능</strong>으로 비즈니스 경쟁력을 높이세요
        </h2>
        <p>
          <span>특별한 기능이 필요한 분들이면 누구나</span>
          <span>퍼스트몰 독립 쇼핑몰을 통해 구현 가능합니다.</span>
        </p>
      </header>
      <div class="images large">
        <img src="/assets/images/subs/shop/independent_business_1.png" alt="">
        <img src="/assets/images/subs/shop/independent_business_2.png" alt="">
        <img src="/assets/images/subs/shop/independent_business_3.png" alt="">
        <img src="/assets/images/subs/shop/independent_business_4.png" alt="">
        <img src="/assets/images/subs/shop/independent_business_5.png" alt="">
      </div>
      <div class="image">
        <img src="/assets/images/subs/shop/independent_business_all.png" alt="">
      </div>
      <ul>
        <li>
          <i class="check"></i>
          <h3>
            <span>회원 등급별</span>
            <span>판매가 입력 기능</span>
          </h3>
        </li>
        <li>
          <i class="check"></i>
          <h3>
            <span>가로/세로 사이즈 단위로</span>
            <span>상품 가격 자동 계산</span>
          </h3>
        </li>
        <li>
          <i class="check"></i>
          <h3>
            <span>사내 ERP 시스템과</span>
            <span>연동</span>
          </h3>
        </li>
        <li>
          <i class="check"></i>
          <h3>
            <span>상품 경매</span>
            <span>기능</span>
          </h3>
        </li>
      </ul>
      <button class="arrow-bg">자세히 보기</button>
    </div>
  </section>
  <section class="section-who">
    <div class="wrapper">
      <header>
        <h2>
          <span>퍼스트몰 독립 쇼핑몰 하나면 모든 것이 가능합니다</span>
          <span>비즈니스 경쟁력을 높여보세요</span>
        </h2>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_who_1.jpg" alt="">
            </div>
            <h3>
              <span>상품 경매</span>
              <span>기능</span>
            </h3>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_who_2.jpg" alt="">
            </div>
            <h3>
              <span>회원 등급별</span>
              <span>판매가 입력 기능</span>
            </h3>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_who_3.jpg" alt="">
            </div>
            <h3>
              <span>가로/세로 사이즈 단위로</span>
              <span>상품 가격 자동 계산</span>
            </h3>
          </li>
          <li class="swiper-slide">
            <div class="image">
              <img src="/assets/images/subs/shop/independent_who_4.jpg" alt="">
            </div>
            <h3>
              <span>사내 ERP 시스템과</span>
              <span>연동</span>
            </h3>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
      <button class="arrow-bg" onclick="window.open('https://www.firstmall.kr/buildservice/customize')">자세히보기</button>
    </div>
  </section>
  <section class="section-pricing">
    <div class="wrapper">
      <header>
        <h2>
          <span>내 입맛대로 쇼핑몰에</span>
          <span>기능을 추가하거나 변경하고 싶다면?</span>
        </h2>
        <p>퍼스트몰 독립 쇼핑몰이 정답입니다</p>
      </header>
      <div class="swiper small">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <h3>독립몰 Plus</h3>
            <p>
              <span>라이선스 제공</span>
              <span>맞춤개발 가능</span>
            </p>
            <div class="price">
              <strong>770,000</strong>
              원/1copy
              <small>
                <span class="percent">53% 할인</span>
                <s>1,650,000원/월</s>
              </small>
            </div>
          </li>
          <li class="swiper-slide">
            <h3>입점몰 Plus</h3>
            <p>
              <span>라이선스 제공</span>
              <span>맞춤개발 가능</span>
              <span>오픈마켓형 쇼핑몰</span>
            </p>
            <div class="price">
              <strong>4,400,000</strong>
              원/1copy
              <small>
                <span class="percent">71% 할인</span>
                <s>15,400,000원/월</s>
              </small>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="section-sticky-button">
    <button onclick="window.open('https://www.firstmall.kr/register/firstmall?type=P_EXPA')">쇼핑몰 만들기</button>
  </section>
  <section></section>
</main>

{% endblock %}