{% extends "base.html" %}
{% block content %}
<main class="content-shop independent">
  <header class="content-header">
    <div class="wrapper">
      <h1>
        원하는대로 필요한 기능만 쏙쏙!
      </h1>
      <p>
        <span>원하시는 기능이 쇼핑몰에 없나요?</span>
        <span>퍼스트몰 독립 쇼핑몰로 자유롭게 구현해보세요.</span>
      </p>
      <button onclick="window.open('https://www.firstmall.kr/register/firstmall?type=P_EXPA ')">쇼핑몰 만들기</button>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <header>
        <h2>
          <span>차별화된 나만의 쇼핑몰</span>
          <span>독립 쇼핑몰로 완성하세요</span>
        </h2>
        <p>
          <span>직접 프로그램 소스를 수정하여 원하는 기능과 디자인을 적용하여</span>
          <span>나만의 특별한 쇼핑몰을 만들 수 있습니다</span>
        </p>
      </header>
      <div class="image">
        <img src="" alt="">
      </div>
    </div>
  </section>
  <section class="section-only">
    <div class="wrapper">
      <header>
        <h2>
          <span>오직 퍼스트몰 에서만 가능합니다</span>
          <span>특별한 쇼핑몰을 제작해보세요</span>
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="texts">
            <h3>
              <span>쇼핑몰 솔루션</span>
              <span>라이선스 제공</span>
            </h3>
            <p>
              <span>영구적으로 소유 가능한</span>
              <span>쇼핑몰 라이선스를</span>
              <span>합리적인 가격으로 제공합니다.</span>
              <span>(구매 시 라이선스 1copy 제공)</span>
            </p>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="texts">
            <h3>
              <span>원하는대로</span>
              <span>맞춤 개발 가능</span>
            </h3>
            <p>
              <span>프로그램 소스 수정이 가능하여</span>
              <span>원하는 기능과 디자인 추가 개발</span>
              <span>모두 자유롭습니다.</span>
            </p>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="texts">
            <h3>
              <span>최신 버전</span>
              <span>패치 파일 제공</span>
            </h3>
            <p>
              <span>독립 쇼핑몰 구매 이후에도</span>
              <span>솔루션에 반영된 최신 기능에 대한</span>
              <span>패치 파일을 제공하여</span>
              <span>지속적인 유지보수가 가능합니다.</span>
            </p>
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <div class="texts">
            <h3>
              <span>자유롭고 유연한</span>
              <span>서버 환경 제공</span>
            </h3>
            <p>
              <span>웹호스팅, 단독서버, 코로케이션,</span>
              <span>G클라우드, AWS, 외부호스팅 등</span>
              <span>원하는대로 자유롭게 서버 환경</span>
              <span>구축 가능합니다</span>
            </p>
          </div>
        </li>
      </ul>
      <button onclick="window.open('https://www.firstmall.kr/register/firstmall?type=P_EXPA')">쇼핑몰 만들기</button>
    </div>
  </section>
  <section class="section-who">
    <div class="wrapper">
      <header>
        <h2>
          <span>퍼스트몰 독립 쇼핑몰 하나면 모든 것이 가능합니다</span>
          <span>비즈니스 경쟁력을 높여보세요</span>
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>
            <span>상품 경매 기능이</span>
            <span>필요한 분</span>
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>
            <span>회원 등급별</span>
            <span>판매가 입력 기능이</span>
            <span>필요한 분</span>
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>
            <span>가로/세로 사이즈 단위로</span>
            <span>상품 가격 자동 계산이</span>
            <span>필요한 분</span>
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>
            <span>사내 ERP 시스템과</span>
            <span>연동이 필요한 분</span>
          </h3>
        </li>
      </ul>
      <button onclick="window.open('https://www.firstmall.kr/buildservice/customize')">자세히보기</button>
    </div>
  </section>
  <section class="section-partners">
    <div class="wrapper">
      <header>
        <h2>
          <span>퍼스트몰 독립 쇼핑몰을 기반으로</span>
          <span>자신만의 서비스를 구축한 쇼핑몰을 소개합니다.</span>
        </h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="아식스 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="아크테릭스 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="프레시지 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="에어데이트 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="꽃집청년들 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="젠떼스토어 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="강원도몰 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="문고리닷컴 로고">
          </div>
        </li>
        <li>
          <div class="image">
            <img src="" alt="리씽크몰 로고">
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-pricing">
    <div class="wrapper">
      <header>
        <h2>
          <span>내 입맛대로 쇼핑몰에 기능을 추가하거나 변경하고 싶다면</span>
          <span>퍼스트몰 독립 쇼핑몰이 정답입니다</span>
        </h2>
      </header>
      <ul>
        <li>
          <h3>독립몰 Plus</h3>
          <p>
            <span>라이선스 제공</span>
            <span>맞춤개발 가능</span>
          </p>
          <div class="price">
            <small>
              <span class="percent">53% 할인</span>
              <s>1,650,000원/월</s>
            </small>
            <strong>770,000</strong>
            원/1copy
          </div>
        </li>
        <li>
          <h3>입점몰 Plus</h3>
          <p>
            <span>라이선스 제공</span>
            <span>맞춤개발 가능</span>
            <span>오픈마켓형 쇼핑몰</span>
          </p>
          <div class="price">
            <small>
              <span class="percent">71% 할인</span>
              <s>15,400,000원/월</s>
            </small>
            <strong>4,400,000</strong>
            원/1copy
          </div>
        </li>
      </ul>
      <button onclick="window.open('')">쇼핑몰 만들기</button>
    </div>
  </section>
</main>>
{% endblock %}