{% extends "base.html" %}
{% block content %}
<main class="content-shop transfer">
  <header class="content-header">
    <div class="wrapper">
      <h1>
        <span>운영중인 쇼핑몰 그대로</span>
        <span>쉽고 빠르게 무료 이전</span>
      </h1>
      <p>지금 퍼스트몰로 환승하세요!</p>
      <button onclick="window.open('https://www.firstmall.kr/customer/1to1/write/3')">상담 신청하기</button>
    </div>
  </header>
  <section class="section-intro">
    <div class="wrapper">
      <header>
        <h2>
          <span>운영중인 쇼핑몰이 만족스럽지 않다면</span>
          <span>퍼스트몰 전문가와 상담하세요</span>
        </h2>
        <p>운영 중인 쇼핑몰의 상품, 회원, 게시판 데이터까지 모두 무료로 이전해 드려요.</p>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>전담 담당자 배정</h3>
          <p>
            <span>전담 담당자가 배정되어</span>
            <span>이전을 진행해 빠른 오픈이</span>
            <span>가능하도록 지원해요.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>무료 이전</h3>
          <p>
            <span>운영 중인 쇼핑몰의</span>
            <span>상품, 회원, 게시판 데이터를</span>
            <span>무료로 옮겨드려요.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>전문적이고 빠른 지원</h3>
          <p>
            <span>빠르고 정확한 대응으로</span>
            <span>안전한 데이터 이전을</span>
            <span>지원합니다.</span>
          </p>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>논스톱 관리</h3>
          <p>
            <span>전문 엔지니어가 365일 24시간</span>
            <span>IDC에 상주하며</span>
            <span>실시간 대응합니다.</span>
          </p>
        </li>
      </ul>
      <button onclick="window.open('https://www.firstmall.kr/customer/1to1/write/3')"></button>
    </div>
  </section>
  <section class="section-benefit">
    <div class="wrapper">
      <header>
        <h2>퍼스트몰로 이전하면 이런 혜택도 드려요!</h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>
            <span>업계 최저</span>
            <span>카드 수수료 1.3%</span>
          </h3>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>
            <span>5만원 상당</span>
            <span>SMS 3,000건 무료 충전</span>
          </h3>
        </li>
      </ul>
    </div>
  </section>
  <section class="section-process">
    <div class="wrapper">
      <header>
        <h2>쇼핑몰 이전 절차</h2>
      </header>
      <ul>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>상담 신청</h3>
          <p>
            <span>쇼핑몰 이전 상담을 신청해요.</span>
            <span>이전과 관련된 궁금한 사항을 문의하세요.</span>
          </p>
          <a href="https://www.firstmall.kr/customer/1to1/write/3" target="_blank">상담 신청하기</a>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>쇼핑몰 신청</h3>
          <p>
            <span>쇼핑몰 신청 후 디자인, 관리자 설정,</span>
            <span>전자결제 신청을 진행해 주세요.</span>
          </p>
          <a href="https://www.firstmall.kr/addservice/pg_internal" target="_blank">PG 신청하기</a>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>데이터 이전 신청</h3>
          <p>
            <span>데이터 이전 신청을 해주세요.</span>
            <span>담당자가 데이터 검수 후, </span>
            <span>이전을 진행해 드려요.</span>
          </p>
          <a href="https://www.firstmall.kr/register/frelocate" target="_blank">데이터 이전 신청하기</a>
        </li>
        <li>
          <div class="image">
            <img src="" alt="">
          </div>
          <h3>검수 및 오픈</h3>
          <p>
            <span>데이터 검수가 완료되면</span>
            <span>쇼핑몰 오픈을 진행해요.</span>
            <span>도메인 연결 및 네임서버 변경을 해주세요.</span>
          </p>
        </li>
      </ul>
      <button onclick="window.open('https://www.firstmall.kr/buildservice/frelocate#frelocate_process')">자세히보기</button>
    </div>
  </section>
  <section class="section-faq">
    <div class="wrapper">
      <h2>자주 묻는 질문</h2>
      <ul class="accordion">
        <li>
          <div class="question">쇼핑몰 이전하는데 얼마나 걸릴까요?</div>
          <div class="answer">
            <p>
              이전할 쇼핑몰의 규모와 구조에 따라 일정은 상이하나 보통 한 달 정도 소요됩니다.
            </p>
          </div>
        </li>
        <li>
          <div class="question">데이터는 어떻게 준비하나요?</div>
          <div class="answer">
            <p>현재 이용중인 쇼핑몰 업체에 문의하여 데이터를 백업 받아 주세요.</p>
            <p>회원 이전까지 하는 경우, 암호화된 회원 비밀번호를 포함한 전체 데이터를 백업 요청해주시면 됩니다.</p>
          </div>
        </li>
        <li>
          <div class="question">주문 데이터도 이전 가능해요?</div>
          <div class="answer">
            <p>이전은 가능하지만 유상으로 진행됩니다.</p>
            <p>주문 데이터 확인 후, 비용 안내가 가능하므로 1:1문의를 통해 확인 부탁드립니다.</p>
          </div>
        </li>
        <li>
          <div class="question">디자인은 어떻게 진행되나요?</div>
          <div class="answer">
            <p>디자인은 새로 진행해 주셔야 합니다.</p>
            <p>직접 디자인 작업을 진행하시거나 퍼스트몰 맞춤 디자인 서비스를 이용할 수 있습니다.</p>
            <p>
              <a href="https://www.firstmall.kr/introduce/firstmall/designskin" target="_blank">디자인 스킨 샘플 보기</a>
              <a href="">맞춤 디자인 서비스 보기</a>
            </p>
          </div>
        </li>
        <li>
          <div class="question">도메인 연결은 언제, 어떻게 하나요?</div>
          <div class="answer">
            <p>도메인 연결은 최종 이전 완료 후 진행합니다.</p>
            <a href="https://firstmall.kr/customer/faq/1694">도메인 연결 방법 보기</a>
          </div>
        </li>
      </ul>
      <h2>안전하고 빠르게 이전하세요</h2>
      <button onclick="window.open('https://firstmall.kr/customer/faq/1694 ')">
      상담 신청하기</button>
    </div>
  </section>
</main>>
{% endblock %}